In [7]:
import networkx as nx
import pandas as pd

path='/home/flav/gossip/flexi-pipe'

In [8]:
#Causal graph
causal_graph = nx.DiGraph([('D', 'messageReceived'),
                           ('D', 'graft'),
                           ('D', 'prune'),
                           ('D', 'iwant'),
                           ('Dlo', 'graft'),
                           ('Dhi', 'prune'),
                           ('Dscore', 'graft'),
                           ('Dscore', 'prune'),
                           ('Dlazy', 'iwant'),
                           ('Dlazy', 'ihave'),
                           ('Dout', 'graft'),
                           ('Dout', 'prune'),
                           ('gossipFactor', 'iwant'),
                           ('gossipFactor', 'ihave'),
                           ('interval', 'graft'),
                           ('interval', 'prune'),
                           ('interval', 'iwant'),
                           ('interval', 'ihave'),
                           ('topology', 'graft'),
                           ('topology', 'prune'),
                           ('topology', 'propagationTime'),
                           ('topology', 'messageReceived'),
                           #Level 1
                           ('prune', 'graft'),
                           ('prune', 'propagationTime'),
                           ('messageReceived', 'MessageOverhead'),
                           ('messageOverhead', 'bandwidth'),
                           ('iwant', 'bandwidth'),
                           ('ihave', 'bandwidth')
                         ])

In [44]:
#Import data 
data = pd.read_csv(path+'/data/Notebooks/datasets/timeSeries1_verified.csv',header=0, index_col=0)
df = pd.DataFrame(data)

df.head(10)

   identifier  experiment  type                      _time  count
0           0       391.0   2.0  2023-10-04 19:25:30+00:00   1574
1           0       391.0   2.0  2023-10-04 19:25:40+00:00   6412
2           0       391.0   2.0  2023-10-04 19:25:50+00:00   4602
3           0       391.0   2.0  2023-10-04 19:26:00+00:00   4605
4           0       391.0   2.0  2023-10-04 19:26:10+00:00   6171
5           0       391.0   2.0  2023-10-04 19:26:20+00:00   4642
6           0       391.0   2.0  2023-10-04 19:26:30+00:00   4643
7           0       391.0   2.0  2023-10-04 19:26:40+00:00   6142
8           0       391.0   2.0  2023-10-04 19:26:50+00:00   5016
9           0       391.0   2.0  2023-10-04 19:27:00+00:00   4996

In [45]:
# Transpose the table -> type and count

df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)
by_time = df.groupby([df['experiment'],df['identifier'],df['type'],pd.Grouper(key="_time", freq='10s')])['count'].sum().reset_index()
# by_time.head(10)
pivoted = pd.pivot_table(by_time,index=["identifier","experiment", pd.Grouper(freq="10s", key="_time")], columns="type", values="count", margins=False).fillna(0)


pivoted.head(100)

type                                                2.0     3.0   11.0  12.0  \
identifier experiment _time
0          391.0      2023-10-04 19:25:30+00:00   1574.0   192.0   0.0   0.0
                      2023-10-04 19:25:40+00:00   6412.0   795.0   0.0   0.0
                      2023-10-04 19:25:50+00:00   4602.0   576.0   0.0   0.0
                      2023-10-04 19:26:00+00:00   4605.0   575.0   0.0   0.0
                      2023-10-04 19:26:10+00:00   6171.0   767.0   0.0   0.0
...                                                  ...     ...   ...   ...
                      2023-10-04 19:44:50+00:00  19744.0  2935.0   0.0   0.0
                      2023-10-04 19:45:00+00:00  15108.0  2238.0   0.0   0.0
                      2023-10-04 19:45:10+00:00  14310.0  2111.0   0.0   0.0
                      2023-10-04 19:45:20+00:00  19631.0  2898.0   0.0   0.0
                      2023-10-04 19:45:30+00:00  16284.0  2399.0   0.0   0.0

type                                             16.0    17.0
identifier experiment _time
0          391.0      2023-10-04 19:25:30+00:00   0.0   109.0
                      2023-10-04 19:25:40+00:00   0.0   395.0
                      2023-10-04 19:25:50+00:00   1.0   361.0
                      2023-10-04 19:26:00+00:00   0.0   325.0
                      2023-10-04 19:26:10+00:00   0.0   387.0
...                                               ...     ...
                      2023-10-04 19:44:50+00:00   0.0  1142.0
                      2023-10-04 19:45:00+00:00   0.0   987.0
                      2023-10-04 19:45:10+00:00   0.0  1136.0
                      2023-10-04 19:45:20+00:00   0.0  1029.0
                      2023-10-04 19:45:30+00:00   0.0   931.0

[100 rows x 6 columns]

In [ ]:
#Rename