In [7]:
import networkx as nx
import pandas as pd

path='/home/flav/gossip/flexi-pipe'

In [8]:
#Causal graph
causal_graph = nx.DiGraph([('D', 'messageReceived'),
                           ('D', 'graft'),
                           ('D', 'prune'),
                           ('D', 'iwant'),
                           ('Dlo', 'graft'),
                           ('Dhi', 'prune'),
                           ('Dscore', 'graft'),
                           ('Dscore', 'prune'),
                           ('Dlazy', 'iwant'),
                           ('Dlazy', 'ihave'),
                           ('Dout', 'graft'),
                           ('Dout', 'prune'),
                           ('gossipFactor', 'iwant'),
                           ('gossipFactor', 'ihave'),
                           ('interval', 'graft'),
                           ('interval', 'prune'),
                           ('interval', 'iwant'),
                           ('interval', 'ihave'),
                           ('topology', 'graft'),
                           ('topology', 'prune'),
                           ('topology', 'propagationTime'),
                           ('topology', 'messageReceived'),
                           #Level 1
                           ('prune', 'graft'),
                           ('prune', 'propagationTime'),
                           ('messageReceived', 'MessageOverhead'),
                           ('messageOverhead', 'bandwidth'),
                           ('iwant', 'bandwidth'),
                           ('ihave', 'bandwidth')
                         ])

In [9]:
#Import data 
data = pd.read_csv(path+'/data/Notebooks/datasets/timeSeries10_verified.csv',header=0, index_col=0)
df = pd.DataFrame(data)

df.head(10)

   identifier  experiment  type                      _time  count
0           0       391.0   2.0  2023-10-04 19:25:37+00:00   1574
1           0       391.0   2.0  2023-10-04 19:25:40+00:00   1554
2           0       391.0   2.0  2023-10-04 19:25:42+00:00    236
3           0       391.0   2.0  2023-10-04 19:25:43+00:00   1540
4           0       391.0   2.0  2023-10-04 19:25:46+00:00   1535
5           0       391.0   2.0  2023-10-04 19:25:49+00:00   1547
6           0       391.0   2.0  2023-10-04 19:25:52+00:00   1525
7           0       391.0   2.0  2023-10-04 19:25:55+00:00   1555
8           0       391.0   2.0  2023-10-04 19:25:58+00:00   1522
9           0       391.0   2.0  2023-10-04 19:26:01+00:00   1534

In [36]:
# Transpose the table -> type and count

df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)

pivoted = pd.pivot_table(df,index=["identifier","experiment", pd.Grouper(freq="10s", key="_time")], columns="type", values="count", margins=False).fillna(0)


pivoted.head(100)

type                                                    2.0         3.0   \
identifier experiment _time
0          391.0      2023-10-04 19:25:30+00:00  1574.000000  192.000000
                      2023-10-04 19:25:40+00:00  1282.400000  159.000000
                      2023-10-04 19:25:50+00:00  1534.000000  192.000000
                      2023-10-04 19:26:00+00:00  1535.000000  191.666667
                      2023-10-04 19:26:10+00:00  1542.750000  191.750000
...                                                      ...         ...
                      2023-10-04 19:44:50+00:00  2820.571429  419.285714
                      2023-10-04 19:45:00+00:00  2158.285714  319.714286
                      2023-10-04 19:45:10+00:00  2385.000000  351.833333
                      2023-10-04 19:45:20+00:00  3271.833333  579.600000
                      2023-10-04 19:45:30+00:00  1809.333333  266.555556

type                                             11.0  12.0  16.0        17.0
identifier experiment _time
0          391.0      2023-10-04 19:25:30+00:00   0.0   0.0   0.0   54.500000
                      2023-10-04 19:25:40+00:00   0.0   0.0   0.0   56.428571
                      2023-10-04 19:25:50+00:00   0.0   0.0   1.0   51.571429
                      2023-10-04 19:26:00+00:00   0.0   0.0   0.0   54.166667
                      2023-10-04 19:26:10+00:00   0.0   0.0   0.0   55.285714
...                                               ...   ...   ...         ...
                      2023-10-04 19:44:50+00:00   0.0   0.0   0.0  163.142857
                      2023-10-04 19:45:00+00:00   0.0   0.0   0.0  164.500000
                      2023-10-04 19:45:10+00:00   0.0   0.0   0.0  162.285714
                      2023-10-04 19:45:20+00:00   0.0   0.0   0.0  147.000000
                      2023-10-04 19:45:30+00:00   0.0   0.0   0.0  155.166667

[100 rows x 6 columns]