In [1]:
import pandas as pd
# from dowhy import gcm
import numpy as np
import matplotlib.pyplot as plt
import gc

import os

In [2]:
#import exp_filtered
data = pd.read_csv('./experiments_filtered.csv',header=0, index_col=0)
experiments = pd.DataFrame(data)

experiments.head(10)

,experiment,originalStart,originalEnd,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,start,end,startUnix,endUnix
2,390,2023-10-04 18:52:03.080773000,2023-10-04 19:22:03.086651800,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-10-04 18:59:33.080773000,2023-10-04 19:14:33.086651800,1696445973,1696446873
3,391,2023-10-04 19:25:37.153339900,2023-10-04 19:55:37.155585600,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-10-04 19:33:07.153339900,2023-10-04 19:48:07.155585600,1696447987,1696448887
6,505,2023-11-07 18:12:32.614239000,2023-11-07 18:42:32.616707000,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-11-07 18:20:02.614239000,2023-11-07 18:35:02.616707000,1699381202,1699382102
7,506,2023-11-07 18:46:01.613382700,2023-11-07 19:16:01.615839300,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-11-07 18:53:31.613382700,2023-11-07 19:08:31.615839300,1699383211,1699384111
8,393,2023-10-04 20:32:47.309861600,2023-10-04 21:02:47.314917800,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-10-04 20:40:17.309861600,2023-10-04 20:55:17.314917800,1696452017,1696452917
9,394,2023-10-04 21:06:22.775563400,2023-10-04 21:36:22.778880000,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-10-04 21:13:52.775563400,2023-10-04 21:28:52.778880000,1696454032,1696454932
11,507,2023-11-07 19:19:31.901645600,2023-11-07 19:49:31.904968200,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-11-07 19:27:01.901645600,2023-11-07 19:42:01.904968200,1699385221,1699386121
14,396,2023-10-04 22:13:33.814670400,2023-10-04 22:43:33.817409400,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-10-04 22:21:03.814670400,2023-10-04 22:36:03.817409400,1696458063,1696458963
15,397,2023-10-04 22:47:09.383711000,2023-10-04 23:17:09.386844200,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-10-04 22:54:39.383711000,2023-10-04 23:09:39.386844200,1696460079,1696460979
17,510,2023-11-07 21:00:03.559839700,2023-11-07 21:30:03.562290200,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-11-07 21:07:33.559839700,2023-11-07 21:22:33.562290200,1699391253,1699392153

In [4]:
messages = pd.DataFrame()

for index, row in experiments.iterrows():
    data = pd.read_csv('../../datasets/partialTables/mess_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_mess = pd.DataFrame(data)
    query_mess = query_mess.drop(columns=["start", "end"])

    messages = pd.concat([query_mess, messages])
    del query_mess
    gc.collect()

    if os.path.exists('../../datasets/partialTables/ihave_'+str(row['experiment'])+'.csv'):
        data = pd.read_csv('../../datasets/partialTables/ihave_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
        query_ihave = pd.DataFrame(data)
        query_ihave["type"] = '17.0'
        query_ihave = query_ihave.drop(columns=["_measurement"])
        
        messages = pd.concat([query_ihave, messages])
        del query_ihave
        gc.collect()
    
    if os.path.exists('../../datasets/partialTables/iwant_'+str(row['experiment'])+'.csv'):
        data = pd.read_csv('../../datasets/partialTables/iwant_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
        query_iwant = pd.DataFrame(data)
        query_iwant["type"] = '16.0'
        query_iwant = query_iwant.drop(columns=["_measurement"])
    
        messages = pd.concat([query_iwant, messages])
        del query_iwant
        gc.collect()
    

messages.head(10)

                              _time  identifier  experiment  type
0  2023-11-22 03:16:59.349471+00:00          16         663  16.0
0  2023-11-22 03:16:59.346725+00:00          16         663  17.0
1  2023-11-22 03:16:59.349417+00:00          16         663  17.0
0  2023-11-22 03:09:48.319101+00:00          16         663   3.0
1  2023-11-22 03:09:48.320160+00:00          16         663   3.0
2  2023-11-22 03:09:48.320172+00:00          16         663   2.0
3  2023-11-22 03:09:48.320372+00:00          16         663   3.0
4  2023-11-22 03:09:48.320454+00:00          16         663   2.0
5  2023-11-22 03:09:48.320489+00:00          16         663   2.0
6  2023-11-22 03:09:48.320499+00:00          16         663   2.0

In [ ]:
#Import data 
data = pd.read_csv('../Notebooks/datasets/timeSeries1_verified.csv',header=0, index_col=0)
df = pd.DataFrame(data)

df.head(10)

In [7]:
# Transpose the table -> type and count
df = messages.drop(columns=['identifier'])
df.reset_index(inplace=True)
df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)
by_time = df.groupby([df['experiment'],df['type'],pd.Grouper(key="_time", freq='10s')])['index'].count().reset_index()


pivoted = pd.pivot_table(by_time,index=["experiment", pd.Grouper(freq="10s", key="_time")], columns="type", values="index", margins=False).fillna(0)
pivoted = pivoted.reset_index().rename_axis(None, axis=1)

pivoted.head(100)

,experiment,_time,2.0,3.0,11.0,12.0,16.0,17.0
0,390,2023-10-04 18:52:00+00:00,8684.0,1193.0,0.0,0.0,0.0,698.0
1,390,2023-10-04 18:52:10+00:00,16138.0,2188.0,0.0,0.0,0.0,1032.0
2,390,2023-10-04 18:52:20+00:00,13689.0,1874.0,0.0,0.0,0.0,1339.0
3,390,2023-10-04 18:52:30+00:00,13750.0,1898.0,0.0,0.0,0.0,963.0
4,390,2023-10-04 18:52:40+00:00,13993.0,1930.0,0.0,0.0,2.0,968.0
...,...,...,...,...,...,...,...,...
95,390,2023-10-04 19:11:20+00:00,24258.0,3292.0,0.0,0.0,1.0,1466.0
96,390,2023-10-04 19:11:30+00:00,19123.0,2605.0,0.0,0.0,0.0,1243.0
97,390,2023-10-04 19:11:40+00:00,19142.0,2603.0,0.0,0.0,0.0,1477.0
98,390,2023-10-04 19:11:50+00:00,23490.0,3204.0,0.0,0.0,0.0,1444.0
99,390,2023-10-04 19:12:00+00:00,19648.0,2664.0,0.0,0.0,0.0,1247.0

In [10]:
#Rename
eventsTS = pivoted.rename(columns={2.0:'messageReceived', 3.0: 'messageDuplicated', 11.0: 'graft', 12.0: 'prune', '16.0': 'iwant', '17.0':'ihave'})

eventsTS.to_csv('./events.csv')
eventsTS.head(500)

,experiment,_time,messageReceived,messageDuplicated,graft,prune,iwant,ihave
0,390,2023-10-04 18:52:00+00:00,8684.0,1193.0,0.0,0.0,0.0,698.0
1,390,2023-10-04 18:52:10+00:00,16138.0,2188.0,0.0,0.0,0.0,1032.0
2,390,2023-10-04 18:52:20+00:00,13689.0,1874.0,0.0,0.0,0.0,1339.0
3,390,2023-10-04 18:52:30+00:00,13750.0,1898.0,0.0,0.0,0.0,963.0
4,390,2023-10-04 18:52:40+00:00,13993.0,1930.0,0.0,0.0,2.0,968.0
...,...,...,...,...,...,...,...,...
495,394,2023-10-04 21:08:50+00:00,6677.0,666.0,0.0,0.0,0.0,0.0
496,394,2023-10-04 21:09:00+00:00,8460.0,847.0,0.0,0.0,0.0,0.0
497,394,2023-10-04 21:09:10+00:00,6772.0,680.0,0.0,0.0,0.0,0.0
498,394,2023-10-04 21:09:20+00:00,6665.0,667.0,0.0,0.0,0.0,0.0
499,394,2023-10-04 21:09:30+00:00,8399.0,846.0,0.0,0.0,0.0,0.0

In [13]:
#Import partial tables and append -> for propagation time

publishMessage = pd.DataFrame()
deliverMessage = pd.DataFrame()

for index, row in experiments.iterrows():
    data = pd.read_csv('../../datasets/partialTables/mess2_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_mess = pd.DataFrame(data)

    data = pd.read_csv('../../datasets/partialTables/pub_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_pub = pd.DataFrame(data)
    
    deliverMessage = pd.concat([query_mess, deliverMessage])
    publishMessage = pd.concat([publishMessage, query_pub])

    del query_pub
    del query_mess

    gc.collect()

deliverMessage.head(10)

,_time,messageID,experiment
0,2023-11-22 03:09:48.319101+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
1,2023-11-22 03:09:48.320160+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
2,2023-11-22 03:09:48.320372+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
3,2023-11-22 03:09:48.320578+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
4,2023-11-22 03:09:48.320690+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
5,2023-11-22 03:09:48.320711+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
6,2023-11-22 03:09:48.320974+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
7,2023-11-22 03:09:48.321057+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
8,2023-11-22 03:09:48.321534+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
9,2023-11-22 03:09:48.322297+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663

In [16]:
publishMessage['_time'] = pd.to_datetime(publishMessage["_time"], format='mixed')#.tz_localize(None)
deliverMessage['_time'] = pd.to_datetime(deliverMessage["_time"], format='mixed')#.tz_localize(None)

# def calcAverageTime(publish, received, expTime, parameter):
expTime = experiments
publish = publishMessage
received = deliverMessage

publish = publish[['_time', 'messageID','experiment']]
received = received[['_time', 'messageID', 'experiment']]

joined = publish.merge(received, on=['messageID', 'experiment'])
joined['diff'] = ((joined['_time_y'] - joined['_time_x'])/ pd.Timedelta(microseconds=1)).astype(int)
joined = joined.loc[joined["diff"] >= 0].dropna()
joined.head(10)

,_time_x,messageID,experiment,_time_y,diff
0,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.134903+00:00,753
1,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.136298+00:00,2148
2,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.136886+00:00,2736
3,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137090+00:00,2940
4,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137205+00:00,3055
5,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137276+00:00,3126
6,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137353+00:00,3203
7,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137377+00:00,3227
8,2023-10-04 18:52:04.134667+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.134975+00:00,308
9,2023-10-04 18:52:04.134667+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.135169+00:00,502

In [25]:
df = joined.drop(columns=['_time_x', 'messageID']).rename(columns={'_time_y' : '_time'})

df.reset_index(inplace=True)
df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)
by_time = df.groupby([df['experiment'],pd.Grouper(key="_time", freq='10s')])['diff'].agg('mean').reset_index()
by_time.head(100)

/tmp/ipykernel_81979/4286236444.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)

    experiment                     _time         diff
0          390 2023-10-04 18:52:00+00:00  1773.489130
1          390 2023-10-04 18:52:10+00:00  2037.555657
2          390 2023-10-04 18:52:20+00:00  1770.802686
3          390 2023-10-04 18:52:30+00:00  1765.751992
4          390 2023-10-04 18:52:40+00:00  1960.033882
..         ...                       ...          ...
95         390 2023-10-04 19:11:20+00:00  2009.049621
96         390 2023-10-04 19:11:30+00:00  2122.233244
97         390 2023-10-04 19:11:40+00:00  2088.376773
98         390 2023-10-04 19:11:50+00:00  1900.575295
99         390 2023-10-04 19:12:00+00:00  1915.979464

[100 rows x 3 columns]

In [26]:
prop = by_time.rename(columns={'diff':'propagationTime'})

prop = prop.merge(eventsTS, on=['experiment', '_time'], how='outer')
prop.head(100)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,bandwidth
0,390,2023-10-04 18:52:00+00:00,1773.489130,8684.0,1193.0,0.0,0.0,0.0,698.0,868.4
1,390,2023-10-04 18:52:10+00:00,2037.555657,16138.0,2188.0,0.0,0.0,0.0,1032.0,1613.8
2,390,2023-10-04 18:52:20+00:00,1770.802686,13689.0,1874.0,0.0,0.0,0.0,1339.0,1368.9
3,390,2023-10-04 18:52:30+00:00,1765.751992,13750.0,1898.0,0.0,0.0,0.0,963.0,1375.0
4,390,2023-10-04 18:52:40+00:00,1960.033882,13993.0,1930.0,0.0,0.0,2.0,968.0,1399.5
...,...,...,...,...,...,...,...,...,...,...
95,390,2023-10-04 19:11:20+00:00,2009.049621,24258.0,3292.0,0.0,0.0,1.0,1466.0,2425.9
96,390,2023-10-04 19:11:30+00:00,2122.233244,19123.0,2605.0,0.0,0.0,0.0,1243.0,1912.3
97,390,2023-10-04 19:11:40+00:00,2088.376773,19142.0,2603.0,0.0,0.0,0.0,1477.0,1914.2
98,390,2023-10-04 19:11:50+00:00,1900.575295,23490.0,3204.0,0.0,0.0,0.0,1444.0,2349.0
99,390,2023-10-04 19:12:00+00:00,1915.979464,19648.0,2664.0,0.0,0.0,0.0,1247.0,1964.8

In [27]:
prop.to_csv('./propagationTime.csv')

In [31]:
#Bandwidth

#Load rpc dataset
data = pd.read_csv('./Extraction/rpc.csv',header=0, index_col=0)
rpc = pd.DataFrame(data)
rpc = rpc.rename(columns={'rpc':'count'})

rpc.head(10)

   experiment                      _time  count
0         386  2023-10-04 14:20:40+00:00   6869
1         386  2023-10-04 14:20:50+00:00  45535
2         386  2023-10-04 14:21:00+00:00  68173
3         386  2023-10-04 14:21:10+00:00  35262
4         386  2023-10-04 14:21:20+00:00  38928
5         386  2023-10-04 14:21:30+00:00  28143
6         386  2023-10-04 14:21:40+00:00  26485
7         386  2023-10-04 14:21:50+00:00  30122
8         386  2023-10-04 14:22:00+00:00  22359
9         386  2023-10-04 14:22:10+00:00  19063

In [40]:
#Total bandwidth

data = pd.read_csv('../datasets/timeSeries1s.csv', header=0,  index_col=0)
message = pd.DataFrame(data)

idx = [3.0]
message = message[message["type"].isin(idx)]
message = message.drop(columns=["type", "identifier"])

message.reset_index(inplace=True)
message['_time'] = pd.to_datetime(message["_time"], format='mixed', infer_datetime_format=True)
by_time = message.groupby([message['experiment'],pd.Grouper(key="_time", freq='10s')])['count'].agg('sum').reset_index()
message = by_time

message.head(10)

/tmp/ipykernel_81979/2859788878.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  message['_time'] = pd.to_datetime(message["_time"], format='mixed', infer_datetime_format=True)

   experiment                     _time  count
0         385 2023-10-04 13:38:30+00:00    415
1         385 2023-10-04 13:38:40+00:00   7764
2         385 2023-10-04 13:38:50+00:00   5934
3         385 2023-10-04 13:39:00+00:00   5532
4         385 2023-10-04 13:39:10+00:00   5960
5         385 2023-10-04 13:39:20+00:00   5006
6         385 2023-10-04 13:39:30+00:00   5064
7         385 2023-10-04 13:39:40+00:00   4976
8         385 2023-10-04 13:39:50+00:00   5389
9         385 2023-10-04 13:40:00+00:00     60

In [41]:
total_bandwidth = pd.concat([rpc, message])

total_bandwidth.reset_index(inplace=True)
total_bandwidth['_time'] = pd.to_datetime(total_bandwidth["_time"], format='mixed', infer_datetime_format=True)
by_time = total_bandwidth.groupby([total_bandwidth['experiment'],pd.Grouper(key="_time", freq='10s')])['count'].agg('sum').reset_index()
by_time.head(100)

/tmp/ipykernel_81979/2596956824.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  total_bandwidth['_time'] = pd.to_datetime(total_bandwidth["_time"], format='mixed', infer_datetime_format=True)

    experiment                     _time  count
0          385 2023-10-04 13:38:30+00:00    415
1          385 2023-10-04 13:38:40+00:00   7764
2          385 2023-10-04 13:38:50+00:00   5934
3          385 2023-10-04 13:39:00+00:00   5532
4          385 2023-10-04 13:39:10+00:00   5960
..         ...                       ...    ...
95         389 2023-10-04 17:01:40+00:00   8157
96         389 2023-10-04 17:01:50+00:00   7996
97         389 2023-10-04 17:02:00+00:00   6641
98         389 2023-10-04 17:02:10+00:00   5141
99         389 2023-10-04 17:02:20+00:00   5856

[100 rows x 3 columns]

In [42]:
by_time['totalBandwidth'] = by_time['count']/10

totalBandwidth = by_time.drop(columns=['count'])
totalBandwidth.head(10)

   experiment                     _time  totalBandwidth
0         385 2023-10-04 13:38:30+00:00            41.5
1         385 2023-10-04 13:38:40+00:00           776.4
2         385 2023-10-04 13:38:50+00:00           593.4
3         385 2023-10-04 13:39:00+00:00           553.2
4         385 2023-10-04 13:39:10+00:00           596.0
5         385 2023-10-04 13:39:20+00:00           500.6
6         385 2023-10-04 13:39:30+00:00           506.4
7         385 2023-10-04 13:39:40+00:00           497.6
8         385 2023-10-04 13:39:50+00:00           538.9
9         385 2023-10-04 13:40:00+00:00             6.0

In [43]:
#gossip bandwidth
gossipBandwidth = rpc
gossipBandwidth['gossipBandwidth'] = gossipBandwidth['count']/10
gossipBandwidth = gossipBandwidth.drop(columns=['count'])

gossipBandwidth.head(100)

    experiment                      _time  gossipBandwidth
0          386  2023-10-04 14:20:40+00:00            686.9
1          386  2023-10-04 14:20:50+00:00           4553.5
2          386  2023-10-04 14:21:00+00:00           6817.3
3          386  2023-10-04 14:21:10+00:00           3526.2
4          386  2023-10-04 14:21:20+00:00           3892.8
..         ...                        ...              ...
95         389  2023-10-04 17:03:20+00:00            203.2
96         389  2023-10-04 17:03:30+00:00            210.0
97         389  2023-10-04 17:03:40+00:00            204.0
98         389  2023-10-04 17:03:50+00:00            181.8
99         389  2023-10-04 17:04:00+00:00             71.8

[100 rows x 3 columns]

In [44]:
#MessageBandwidth

messageBandwidth = message
messageBandwidth['messageBandwidth'] = messageBandwidth['count']/10
messageBandwidth = messageBandwidth.drop(columns=['count'])

messageBandwidth.head(10)

   experiment                     _time  messageBandwidth
0         385 2023-10-04 13:38:30+00:00              41.5
1         385 2023-10-04 13:38:40+00:00             776.4
2         385 2023-10-04 13:38:50+00:00             593.4
3         385 2023-10-04 13:39:00+00:00             553.2
4         385 2023-10-04 13:39:10+00:00             596.0
5         385 2023-10-04 13:39:20+00:00             500.6
6         385 2023-10-04 13:39:30+00:00             506.4
7         385 2023-10-04 13:39:40+00:00             497.6
8         385 2023-10-04 13:39:50+00:00             538.9
9         385 2023-10-04 13:40:00+00:00               6.0

In [47]:
prop['_time'] = pd.to_datetime(prop["_time"], format='mixed', infer_datetime_format=True)
messageBandwidth['_time'] = pd.to_datetime(messageBandwidth["_time"], format='mixed', infer_datetime_format=True)

messBand = prop.merge(messageBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

messBand.head(500)

/tmp/ipykernel_81979/2873079763.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  prop['_time'] = pd.to_datetime(prop["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_81979/2873079763.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  messageBandwidth['_time'] = pd.to_datetime(messageBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,bandwidth,messageBandwidth
0,390,2023-10-04 18:52:00+00:00,1773.489130,8684.0,1193.0,0.0,0.0,0.0,698.0,868.4,119.3
1,390,2023-10-04 18:52:10+00:00,2037.555657,16138.0,2188.0,0.0,0.0,0.0,1032.0,1613.8,218.8
2,390,2023-10-04 18:52:20+00:00,1770.802686,13689.0,1874.0,0.0,0.0,0.0,1339.0,1368.9,187.4
3,390,2023-10-04 18:52:30+00:00,1765.751992,13750.0,1898.0,0.0,0.0,0.0,963.0,1375.0,189.8
4,390,2023-10-04 18:52:40+00:00,1960.033882,13993.0,1930.0,0.0,0.0,2.0,968.0,1399.5,193.0
...,...,...,...,...,...,...,...,...,...,...,...
495,394,2023-10-04 21:09:00+00:00,1433.169643,8460.0,847.0,0.0,0.0,0.0,0.0,846.0,84.7
496,394,2023-10-04 21:09:10+00:00,1462.590361,6772.0,680.0,0.0,0.0,0.0,0.0,677.2,68.0
497,394,2023-10-04 21:09:20+00:00,1537.613636,6665.0,667.0,0.0,0.0,0.0,0.0,666.5,66.7
498,394,2023-10-04 21:09:30+00:00,1441.464286,8399.0,846.0,0.0,0.0,0.0,0.0,839.9,84.6
499,394,2023-10-04 21:09:40+00:00,1488.011236,6535.0,657.0,0.0,0.0,0.0,0.0,653.5,65.7

In [48]:
messBand['_time'] = pd.to_datetime(messBand["_time"], format='mixed', infer_datetime_format=True)
totalBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

totalBand = messBand.merge(totalBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

totalBand.head(500)

/tmp/ipykernel_81979/2797273383.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  messBand['_time'] = pd.to_datetime(messBand["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_81979/2797273383.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  totalBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,bandwidth,messageBandwidth,totalBandwidth
0,390,2023-10-04 18:52:00+00:00,1773.489130,8684.0,1193.0,0.0,0.0,0.0,698.0,868.4,119.3,1134.2
1,390,2023-10-04 18:52:10+00:00,2037.555657,16138.0,2188.0,0.0,0.0,0.0,1032.0,1613.8,218.8,2090.7
2,390,2023-10-04 18:52:20+00:00,1770.802686,13689.0,1874.0,0.0,0.0,0.0,1339.0,1368.9,187.4,1798.3
3,390,2023-10-04 18:52:30+00:00,1765.751992,13750.0,1898.0,0.0,0.0,0.0,963.0,1375.0,189.8,1788.7
4,390,2023-10-04 18:52:40+00:00,1960.033882,13993.0,1930.0,0.0,0.0,2.0,968.0,1399.5,193.0,1822.5
...,...,...,...,...,...,...,...,...,...,...,...,...
495,394,2023-10-04 21:09:00+00:00,1433.169643,8460.0,847.0,0.0,0.0,0.0,0.0,846.0,84.7,1011.1
496,394,2023-10-04 21:09:10+00:00,1462.590361,6772.0,680.0,0.0,0.0,0.0,0.0,677.2,68.0,808.8
497,394,2023-10-04 21:09:20+00:00,1537.613636,6665.0,667.0,0.0,0.0,0.0,0.0,666.5,66.7,796.1
498,394,2023-10-04 21:09:30+00:00,1441.464286,8399.0,846.0,0.0,0.0,0.0,0.0,839.9,84.6,1004.5
499,394,2023-10-04 21:09:40+00:00,1488.011236,6535.0,657.0,0.0,0.0,0.0,0.0,653.5,65.7,781.2

In [49]:
totalBand['_time'] = pd.to_datetime(totalBand["_time"], format='mixed', infer_datetime_format=True)
gossipBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

gossipBand = totalBand.merge(gossipBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

gossipBand.head(500)

/tmp/ipykernel_81979/187803194.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  totalBand['_time'] = pd.to_datetime(totalBand["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_81979/187803194.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  gossipBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,bandwidth,messageBandwidth,totalBandwidth,gossipBandwidth
0,390,2023-10-04 18:52:00+00:00,1773.489130,8684.0,1193.0,0.0,0.0,0.0,698.0,868.4,119.3,1134.2,1619.4
1,390,2023-10-04 18:52:10+00:00,2037.555657,16138.0,2188.0,0.0,0.0,0.0,1032.0,1613.8,218.8,2090.7,1722.7
2,390,2023-10-04 18:52:20+00:00,1770.802686,13689.0,1874.0,0.0,0.0,0.0,1339.0,1368.9,187.4,1798.3,1559.2
3,390,2023-10-04 18:52:30+00:00,1765.751992,13750.0,1898.0,0.0,0.0,0.0,963.0,1375.0,189.8,1788.7,1585.7
4,390,2023-10-04 18:52:40+00:00,1960.033882,13993.0,1930.0,0.0,0.0,2.0,968.0,1399.5,193.0,1822.5,1834.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,394,2023-10-04 21:09:00+00:00,1433.169643,8460.0,847.0,0.0,0.0,0.0,0.0,846.0,84.7,1011.1,708.6
496,394,2023-10-04 21:09:10+00:00,1462.590361,6772.0,680.0,0.0,0.0,0.0,0.0,677.2,68.0,808.8,775.4
497,394,2023-10-04 21:09:20+00:00,1537.613636,6665.0,667.0,0.0,0.0,0.0,0.0,666.5,66.7,796.1,929.3
498,394,2023-10-04 21:09:30+00:00,1441.464286,8399.0,846.0,0.0,0.0,0.0,0.0,839.9,84.6,1004.5,749.3
499,394,2023-10-04 21:09:40+00:00,1488.011236,6535.0,657.0,0.0,0.0,0.0,0.0,653.5,65.7,781.2,750.9

In [50]:
consDiscovery = gossipBand.drop(columns=['bandwidth']).rename(columns={'messageDuplicated' : 'messageOverhead'})
consDiscovery.to_csv('./consDiscovery.csv')

consDiscovery.head(10)

,experiment,_time,propagationTime,messageReceived,messageOverhead,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,gossipBandwidth
0,390,2023-10-04 18:52:00+00:00,1773.489130,8684.0,1193.0,0.0,0.0,0.0,698.0,119.3,1134.2,1619.4
1,390,2023-10-04 18:52:10+00:00,2037.555657,16138.0,2188.0,0.0,0.0,0.0,1032.0,218.8,2090.7,1722.7
2,390,2023-10-04 18:52:20+00:00,1770.802686,13689.0,1874.0,0.0,0.0,0.0,1339.0,187.4,1798.3,1559.2
3,390,2023-10-04 18:52:30+00:00,1765.751992,13750.0,1898.0,0.0,0.0,0.0,963.0,189.8,1788.7,1585.7
4,390,2023-10-04 18:52:40+00:00,1960.033882,13993.0,1930.0,0.0,0.0,2.0,968.0,193.0,1822.5,1834.3
5,390,2023-10-04 18:52:50+00:00,1962.132923,16160.0,2210.0,0.0,0.0,0.0,1283.0,221.0,2107.2,1811.6
6,390,2023-10-04 18:53:00+00:00,1982.278101,13942.0,1926.0,0.0,0.0,0.0,970.0,192.6,1814.3,1485.3
7,390,2023-10-04 18:53:10+00:00,1808.053122,14533.0,2002.0,0.0,0.0,0.0,961.0,200.2,1888.9,1315.4
8,390,2023-10-04 18:53:20+00:00,1996.014559,15959.0,2179.0,0.0,0.0,0.0,1292.0,217.9,2082.9,1499.2
9,390,2023-10-04 18:53:30+00:00,1823.973827,14792.0,2039.0,0.0,0.0,0.0,957.0,203.9,1921.0,1346.3