In [1]:
import pandas as pd
# from dowhy import gcm
import numpy as np
import matplotlib.pyplot as plt
import gc

import os

In [2]:
#import exp_filtered
data = pd.read_csv('./experiments_filtered.csv',header=0, index_col=0)
experiments = pd.DataFrame(data)

experiments.head(10)

,experiment,originalStart,originalEnd,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,start,end,startUnix,endUnix
2,390,2023-10-04 18:52:03.080773000,2023-10-04 19:22:03.086651800,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-10-04 18:59:33.080773000,2023-10-04 19:14:33.086651800,1696445973,1696446873
3,391,2023-10-04 19:25:37.153339900,2023-10-04 19:55:37.155585600,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-10-04 19:33:07.153339900,2023-10-04 19:48:07.155585600,1696447987,1696448887
6,505,2023-11-07 18:12:32.614239000,2023-11-07 18:42:32.616707000,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-11-07 18:20:02.614239000,2023-11-07 18:35:02.616707000,1699381202,1699382102
7,506,2023-11-07 18:46:01.613382700,2023-11-07 19:16:01.615839300,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-11-07 18:53:31.613382700,2023-11-07 19:08:31.615839300,1699383211,1699384111
8,393,2023-10-04 20:32:47.309861600,2023-10-04 21:02:47.314917800,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-10-04 20:40:17.309861600,2023-10-04 20:55:17.314917800,1696452017,1696452917
9,394,2023-10-04 21:06:22.775563400,2023-10-04 21:36:22.778880000,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-10-04 21:13:52.775563400,2023-10-04 21:28:52.778880000,1696454032,1696454932
11,507,2023-11-07 19:19:31.901645600,2023-11-07 19:49:31.904968200,unl,informed,8,6,12,4,8,2,0.25,3.0,2023-11-07 19:27:01.901645600,2023-11-07 19:42:01.904968200,1699385221,1699386121
14,396,2023-10-04 22:13:33.814670400,2023-10-04 22:43:33.817409400,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-10-04 22:21:03.814670400,2023-10-04 22:36:03.817409400,1696458063,1696458963
15,397,2023-10-04 22:47:09.383711000,2023-10-04 23:17:09.386844200,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-10-04 22:54:39.383711000,2023-10-04 23:09:39.386844200,1696460079,1696460979
17,510,2023-11-07 21:00:03.559839700,2023-11-07 21:30:03.562290200,unl,informed0,16,8,20,16,8,4,0.50,1.0,2023-11-07 21:07:33.559839700,2023-11-07 21:22:33.562290200,1699391253,1699392153

In [3]:
messages = pd.DataFrame()

for index, row in experiments.iterrows():
    data = pd.read_csv('../../datasets/partialTables/mess_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_mess = pd.DataFrame(data)
    query_mess = query_mess.drop(columns=["start", "end"])

    messages = pd.concat([query_mess, messages])
    del query_mess
    gc.collect()

    if os.path.exists('../../datasets/partialTables/ihave_'+str(row['experiment'])+'.csv'):
        data = pd.read_csv('../../datasets/partialTables/ihave_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
        query_ihave = pd.DataFrame(data)
        query_ihave["type"] = '17.0'
        query_ihave = query_ihave.drop(columns=["_measurement"])
        
        messages = pd.concat([query_ihave, messages])
        del query_ihave
        gc.collect()
    
    if os.path.exists('../../datasets/partialTables/iwant_'+str(row['experiment'])+'.csv'):
        data = pd.read_csv('../../datasets/partialTables/iwant_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
        query_iwant = pd.DataFrame(data)
        query_iwant["type"] = '16.0'
        query_iwant = query_iwant.drop(columns=["_measurement"])
    
        messages = pd.concat([query_iwant, messages])
        del query_iwant
        gc.collect()
    

messages.head(10)

                              _time  identifier  experiment  type
0  2023-11-22 03:16:59.349471+00:00          16         663  16.0
0  2023-11-22 03:16:59.346725+00:00          16         663  17.0
1  2023-11-22 03:16:59.349417+00:00          16         663  17.0
0  2023-11-22 03:09:48.319101+00:00          16         663   3.0
1  2023-11-22 03:09:48.320160+00:00          16         663   3.0
2  2023-11-22 03:09:48.320172+00:00          16         663   2.0
3  2023-11-22 03:09:48.320372+00:00          16         663   3.0
4  2023-11-22 03:09:48.320454+00:00          16         663   2.0
5  2023-11-22 03:09:48.320489+00:00          16         663   2.0
6  2023-11-22 03:09:48.320499+00:00          16         663   2.0

In [ ]:
#Import data 
data = pd.read_csv('../Notebooks/datasets/timeSeries1_verified.csv',header=0, index_col=0)
df = pd.DataFrame(data)

df.head(10)

In [4]:
# Transpose the table -> type and count
df = messages.drop(columns=['identifier'])
df.reset_index(inplace=True)
df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)
by_time = df.groupby([df['experiment'],df['type'],pd.Grouper(key="_time", freq='2s')])['index'].count().reset_index()


pivoted = pd.pivot_table(by_time,index=["experiment", pd.Grouper(freq="2s", key="_time")], columns="type", values="index", margins=False).fillna(0)
pivoted = pivoted.reset_index().rename_axis(None, axis=1)

pivoted.head(100)

/tmp/ipykernel_3166/3216738472.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,2.0,3.0,11.0,12.0,16.0,17.0
0,390,2023-10-04 18:52:04+00:00,4226.0,579.0,0.0,0.0,0.0,347.0
1,390,2023-10-04 18:52:06+00:00,3986.0,542.0,0.0,0.0,0.0,0.0
2,390,2023-10-04 18:52:08+00:00,472.0,72.0,0.0,0.0,0.0,351.0
3,390,2023-10-04 18:52:10+00:00,4241.0,576.0,0.0,0.0,0.0,347.0
4,390,2023-10-04 18:52:12+00:00,3430.0,465.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
95,390,2023-10-04 18:55:14+00:00,2911.0,415.0,0.0,0.0,0.0,285.0
96,390,2023-10-04 18:55:16+00:00,1203.0,173.0,0.0,0.0,0.0,287.0
97,390,2023-10-04 18:55:18+00:00,3273.0,459.0,0.0,0.0,0.0,0.0
98,390,2023-10-04 18:55:20+00:00,2919.0,412.0,0.0,0.0,0.0,286.0
99,390,2023-10-04 18:55:22+00:00,662.0,95.0,0.0,0.0,0.0,284.0

In [5]:
#Rename
eventsTS = pivoted.rename(columns={2.0:'messageReceived', 3.0: 'messageDuplicated', 11.0: 'graft', 12.0: 'prune', '16.0': 'iwant', '17.0':'ihave'})

eventsTS.to_csv('./events.csv')
eventsTS.head(500)

,experiment,_time,messageReceived,messageDuplicated,graft,prune,iwant,ihave
0,390,2023-10-04 18:52:04+00:00,4226.0,579.0,0.0,0.0,0.0,347.0
1,390,2023-10-04 18:52:06+00:00,3986.0,542.0,0.0,0.0,0.0,0.0
2,390,2023-10-04 18:52:08+00:00,472.0,72.0,0.0,0.0,0.0,351.0
3,390,2023-10-04 18:52:10+00:00,4241.0,576.0,0.0,0.0,0.0,347.0
4,390,2023-10-04 18:52:12+00:00,3430.0,465.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
495,390,2023-10-04 19:12:10+00:00,5008.0,695.0,0.0,0.0,0.0,420.0
496,390,2023-10-04 19:12:12+00:00,1143.0,148.0,0.0,0.0,0.0,222.0
497,390,2023-10-04 19:12:14+00:00,6154.0,843.0,0.0,0.0,0.0,195.0
498,390,2023-10-04 19:12:16+00:00,6180.0,836.0,0.0,0.0,0.0,414.0
499,390,2023-10-04 19:12:18+00:00,1149.0,149.0,0.0,0.0,0.0,220.0

In [6]:
#Import partial tables and append -> for propagation time

publishMessage = pd.DataFrame()
deliverMessage = pd.DataFrame()

for index, row in experiments.iterrows():
    data = pd.read_csv('../../datasets/partialTables/mess2_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_mess = pd.DataFrame(data)

    data = pd.read_csv('../../datasets/partialTables/pub_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_pub = pd.DataFrame(data)
    
    deliverMessage = pd.concat([query_mess, deliverMessage])
    publishMessage = pd.concat([publishMessage, query_pub])

    del query_pub
    del query_mess

    gc.collect()

deliverMessage.head(10)

,_time,messageID,experiment
0,2023-11-22 03:09:48.319101+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
1,2023-11-22 03:09:48.320160+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
2,2023-11-22 03:09:48.320372+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
3,2023-11-22 03:09:48.320578+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
4,2023-11-22 03:09:48.320690+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
5,2023-11-22 03:09:48.320711+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
6,2023-11-22 03:09:48.320974+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
7,2023-11-22 03:09:48.321057+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
8,2023-11-22 03:09:48.321534+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663
9,2023-11-22 03:09:48.322297+00:00,ACQIARIgo+G6XPg1Kjdwpc5M7CxrGlQXg5se6bHlFaYJjY...,663

In [7]:
publishMessage['_time'] = pd.to_datetime(publishMessage["_time"], format='mixed')#.tz_localize(None)
deliverMessage['_time'] = pd.to_datetime(deliverMessage["_time"], format='mixed')#.tz_localize(None)

# def calcAverageTime(publish, received, expTime, parameter):
expTime = experiments
publish = publishMessage
received = deliverMessage

publish = publish[['_time', 'messageID','experiment']]
received = received[['_time', 'messageID', 'experiment']]

joined = publish.merge(received, on=['messageID', 'experiment'])
joined['diff'] = ((joined['_time_y'] - joined['_time_x'])/ pd.Timedelta(microseconds=1)).astype(int)
joined = joined.loc[joined["diff"] >= 0].dropna()
joined.head(10)

,_time_x,messageID,experiment,_time_y,diff
0,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.134903+00:00,753
1,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.136298+00:00,2148
2,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.136886+00:00,2736
3,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137090+00:00,2940
4,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137205+00:00,3055
5,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137276+00:00,3126
6,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137353+00:00,3203
7,2023-10-04 18:52:04.134150+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.137377+00:00,3227
8,2023-10-04 18:52:04.134667+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.134975+00:00,308
9,2023-10-04 18:52:04.134667+00:00,ACQIARIgD0L9DFUrEMrmskLqnXInFpXWSpAe/CjcDO6NgA...,390,2023-10-04 18:52:04.135169+00:00,502

In [8]:
df = joined.drop(columns=['_time_x', 'messageID']).rename(columns={'_time_y' : '_time'})

df.reset_index(inplace=True)
df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)
by_time = df.groupby([df['experiment'],pd.Grouper(key="_time", freq='2s')])['diff'].agg('mean').reset_index()
by_time.head(100)

/tmp/ipykernel_3166/22691215.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['_time'] = pd.to_datetime(df["_time"], format='mixed', infer_datetime_format=True)

    experiment                     _time         diff
0          390 2023-10-04 18:52:04+00:00  1880.400662
1          390 2023-10-04 18:52:06+00:00  1670.648148
2          390 2023-10-04 18:52:08+00:00  1710.708333
3          390 2023-10-04 18:52:10+00:00  1842.387417
4          390 2023-10-04 18:52:12+00:00  1816.257895
..         ...                       ...          ...
95         390 2023-10-04 18:55:14+00:00  1586.029557
96         390 2023-10-04 18:55:16+00:00  1815.505376
97         390 2023-10-04 18:55:18+00:00  1669.377193
98         390 2023-10-04 18:55:20+00:00  2197.715686
99         390 2023-10-04 18:55:22+00:00  1623.650000

[100 rows x 3 columns]

In [9]:
prop = by_time.rename(columns={'diff':'propagationTime'})

prop = prop.merge(eventsTS, on=['experiment', '_time'], how='outer')
prop.head(100)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave
0,390,2023-10-04 18:52:04+00:00,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0
1,390,2023-10-04 18:52:06+00:00,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0
2,390,2023-10-04 18:52:08+00:00,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0
3,390,2023-10-04 18:52:10+00:00,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0
4,390,2023-10-04 18:52:12+00:00,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
95,390,2023-10-04 18:55:14+00:00,1586.029557,2911.0,415.0,0.0,0.0,0.0,285.0
96,390,2023-10-04 18:55:16+00:00,1815.505376,1203.0,173.0,0.0,0.0,0.0,287.0
97,390,2023-10-04 18:55:18+00:00,1669.377193,3273.0,459.0,0.0,0.0,0.0,0.0
98,390,2023-10-04 18:55:20+00:00,2197.715686,2919.0,412.0,0.0,0.0,0.0,286.0
99,390,2023-10-04 18:55:22+00:00,1623.650000,662.0,95.0,0.0,0.0,0.0,284.0

In [10]:
prop.to_csv('./propagationTime.csv')

In [12]:
#Bandwidth

#Load rpc dataset
# data = pd.read_csv('./Extraction/rpc.csv',header=0, index_col=0)
# rpc = pd.DataFrame(data)
# rpc = rpc.rename(columns={'rpc':'count'})

# rpc.head(10)

rpc = pd.DataFrame()


for idx, exec in experiments.iterrows():
    data = pd.read_csv('../../datasets/partialTables/rpc_'+str(row['experiment'])+'.csv', header=0,  index_col=0)
    query_rpc = pd.DataFrame(data)
        
    rpc = pd.concat([rpc,query_rpc])

    del query_rpc

    gc.collect()
        

rpc.head(10)

,_time,_measurement,experiment,start,end
0,2023-11-22 03:09:48.319935+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
1,2023-11-22 03:09:48.320029+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
2,2023-11-22 03:09:48.320174+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
3,2023-11-22 03:09:48.320268+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
4,2023-11-22 03:09:48.320340+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
5,2023-11-22 03:09:48.320396+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
6,2023-11-22 03:09:48.320471+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
7,2023-11-22 03:09:48.320494+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
8,2023-11-22 03:09:48.320651+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069
9,2023-11-22 03:09:48.320659+00:00,recvRPC,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069

In [13]:
rpc = rpc.drop(columns=['start', 'end'])
                       
rpc.reset_index(inplace=True)
rpc['_time'] = pd.to_datetime(rpc["_time"], format='mixed', infer_datetime_format=True)
by_time = rpc.groupby([rpc['experiment'],pd.Grouper(key="_time", freq='2s')])['index'].agg('count').reset_index()
# by_time.head(100)

rpc=by_time.rename(columns={'index':'rpc'})

/tmp/ipykernel_3166/3497163316.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  rpc['_time'] = pd.to_datetime(rpc["_time"], format='mixed', infer_datetime_format=True)

In [18]:
rpc.head(10)

   experiment                     _time     rpc
0         663 2023-11-22 03:09:48+00:00  185142
1         663 2023-11-22 03:09:50+00:00  118000
2         663 2023-11-22 03:09:52+00:00   67142
3         663 2023-11-22 03:09:54+00:00  185614
4         663 2023-11-22 03:09:56+00:00   67732
5         663 2023-11-22 03:09:58+00:00  186086
6         663 2023-11-22 03:10:00+00:00  169094
7         663 2023-11-22 03:10:02+00:00   16638
8         663 2023-11-22 03:10:04+00:00  185614
9         663 2023-11-22 03:10:06+00:00  185260

In [14]:
#Total bandwidth

data = pd.read_csv('../datasets/timeSeries1s.csv', header=0,  index_col=0)
message = pd.DataFrame(data)

idx = [3.0]
message = message[message["type"].isin(idx)]
message = message.drop(columns=["type", "identifier"])

message.reset_index(inplace=True)
message['_time'] = pd.to_datetime(message["_time"], format='mixed', infer_datetime_format=True)
by_time = message.groupby([message['experiment'],pd.Grouper(key="_time", freq='2s')])['count'].agg('sum').reset_index()
message = by_time

message.head(10)

/tmp/ipykernel_3166/1987179028.py:11: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  message['_time'] = pd.to_datetime(message["_time"], format='mixed', infer_datetime_format=True)

   experiment                     _time  count
0         385 2023-10-04 13:38:36+00:00    364
1         385 2023-10-04 13:38:38+00:00     51
2         385 2023-10-04 13:38:40+00:00   2043
3         385 2023-10-04 13:38:42+00:00   1637
4         385 2023-10-04 13:38:44+00:00    399
5         385 2023-10-04 13:38:46+00:00   2037
6         385 2023-10-04 13:38:48+00:00   1648
7         385 2023-10-04 13:38:50+00:00    385
8         385 2023-10-04 13:38:52+00:00   1930
9         385 2023-10-04 13:38:54+00:00   1466

In [15]:
total_bandwidth = pd.concat([rpc, message])

total_bandwidth.reset_index(inplace=True)
total_bandwidth['_time'] = pd.to_datetime(total_bandwidth["_time"], format='mixed', infer_datetime_format=True)
by_time = total_bandwidth.groupby([total_bandwidth['experiment'],pd.Grouper(key="_time", freq='2s')])['count'].agg('sum').reset_index()
by_time.head(100)

/tmp/ipykernel_3166/3208883056.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  total_bandwidth['_time'] = pd.to_datetime(total_bandwidth["_time"], format='mixed', infer_datetime_format=True)

    experiment                     _time   count
0          385 2023-10-04 13:38:36+00:00   364.0
1          385 2023-10-04 13:38:38+00:00    51.0
2          385 2023-10-04 13:38:40+00:00  2043.0
3          385 2023-10-04 13:38:42+00:00  1637.0
4          385 2023-10-04 13:38:44+00:00   399.0
..         ...                       ...     ...
95         386 2023-10-04 14:23:04+00:00   277.0
96         386 2023-10-04 14:23:06+00:00   213.0
97         386 2023-10-04 14:23:08+00:00   492.0
98         386 2023-10-04 14:23:10+00:00   269.0
99         386 2023-10-04 14:23:12+00:00   220.0

[100 rows x 3 columns]

In [16]:
by_time['totalBandwidth'] = by_time['count']/2

totalBandwidth = by_time.drop(columns=['count'])
totalBandwidth.head(10)

   experiment                     _time  totalBandwidth
0         385 2023-10-04 13:38:36+00:00           182.0
1         385 2023-10-04 13:38:38+00:00            25.5
2         385 2023-10-04 13:38:40+00:00          1021.5
3         385 2023-10-04 13:38:42+00:00           818.5
4         385 2023-10-04 13:38:44+00:00           199.5
5         385 2023-10-04 13:38:46+00:00          1018.5
6         385 2023-10-04 13:38:48+00:00           824.0
7         385 2023-10-04 13:38:50+00:00           192.5
8         385 2023-10-04 13:38:52+00:00           965.0
9         385 2023-10-04 13:38:54+00:00           733.0

In [19]:
#gossip bandwidth
gossipBandwidth = rpc
gossipBandwidth['gossipBandwidth'] = gossipBandwidth['rpc']/2
gossipBandwidth = gossipBandwidth.drop(columns=['rpc'])

gossipBandwidth.head(100)

    experiment                     _time  gossipBandwidth
0          663 2023-11-22 03:09:48+00:00          92571.0
1          663 2023-11-22 03:09:50+00:00          59000.0
2          663 2023-11-22 03:09:52+00:00          33571.0
3          663 2023-11-22 03:09:54+00:00          92807.0
4          663 2023-11-22 03:09:56+00:00          33866.0
..         ...                       ...              ...
95         663 2023-11-22 03:12:58+00:00          92512.0
96         663 2023-11-22 03:13:00+00:00          75992.0
97         663 2023-11-22 03:13:02+00:00          16933.0
98         663 2023-11-22 03:13:04+00:00          92571.0
99         663 2023-11-22 03:13:06+00:00          92984.0

[100 rows x 3 columns]

In [20]:
#MessageBandwidth

messageBandwidth = message
messageBandwidth['messageBandwidth'] = messageBandwidth['count']/2
messageBandwidth = messageBandwidth.drop(columns=['count'])

messageBandwidth.head(10)

   experiment                     _time  messageBandwidth
0         385 2023-10-04 13:38:36+00:00             182.0
1         385 2023-10-04 13:38:38+00:00              25.5
2         385 2023-10-04 13:38:40+00:00            1021.5
3         385 2023-10-04 13:38:42+00:00             818.5
4         385 2023-10-04 13:38:44+00:00             199.5
5         385 2023-10-04 13:38:46+00:00            1018.5
6         385 2023-10-04 13:38:48+00:00             824.0
7         385 2023-10-04 13:38:50+00:00             192.5
8         385 2023-10-04 13:38:52+00:00             965.0
9         385 2023-10-04 13:38:54+00:00             733.0

In [21]:
prop['_time'] = pd.to_datetime(prop["_time"], format='mixed', infer_datetime_format=True)
messageBandwidth['_time'] = pd.to_datetime(messageBandwidth["_time"], format='mixed', infer_datetime_format=True)

messBand = prop.merge(messageBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

messBand.head(500)

/tmp/ipykernel_3166/2873079763.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  prop['_time'] = pd.to_datetime(prop["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_3166/2873079763.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  messageBandwidth['_time'] = pd.to_datetime(messageBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,messageBandwidth
0,390,2023-10-04 18:52:04+00:00,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0,289.5
1,390,2023-10-04 18:52:06+00:00,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0,271.0
2,390,2023-10-04 18:52:08+00:00,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0,36.0
3,390,2023-10-04 18:52:10+00:00,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0,288.0
4,390,2023-10-04 18:52:12+00:00,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0,232.5
...,...,...,...,...,...,...,...,...,...,...
495,390,2023-10-04 19:12:28+00:00,2401.791563,5427.0,743.0,0.0,0.0,0.0,417.0,371.5
496,390,2023-10-04 19:12:30+00:00,1250.555556,1137.0,146.0,0.0,0.0,0.0,222.0,73.0
497,390,2023-10-04 19:12:32+00:00,1885.728261,6159.0,838.0,0.0,0.0,0.0,190.0,419.0
498,390,2023-10-04 19:12:34+00:00,2143.177083,5757.0,791.0,0.0,0.0,0.0,418.0,395.5
499,390,2023-10-04 19:12:36+00:00,2333.555556,2784.0,377.0,0.0,0.0,0.0,220.0,188.5

In [22]:
messBand['_time'] = pd.to_datetime(messBand["_time"], format='mixed', infer_datetime_format=True)
totalBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

totalBand = messBand.merge(totalBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

totalBand.head(500)

/tmp/ipykernel_3166/2797273383.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  messBand['_time'] = pd.to_datetime(messBand["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_3166/2797273383.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  totalBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth
0,390,2023-10-04 18:52:04+00:00,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0,289.5,289.5
1,390,2023-10-04 18:52:06+00:00,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0,271.0,271.0
2,390,2023-10-04 18:52:08+00:00,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0,36.0,36.0
3,390,2023-10-04 18:52:10+00:00,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0,288.0,288.0
4,390,2023-10-04 18:52:12+00:00,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0,232.5,232.5
...,...,...,...,...,...,...,...,...,...,...,...
495,390,2023-10-04 19:12:28+00:00,2401.791563,5427.0,743.0,0.0,0.0,0.0,417.0,371.5,371.5
496,390,2023-10-04 19:12:30+00:00,1250.555556,1137.0,146.0,0.0,0.0,0.0,222.0,73.0,73.0
497,390,2023-10-04 19:12:32+00:00,1885.728261,6159.0,838.0,0.0,0.0,0.0,190.0,419.0,419.0
498,390,2023-10-04 19:12:34+00:00,2143.177083,5757.0,791.0,0.0,0.0,0.0,418.0,395.5,395.5
499,390,2023-10-04 19:12:36+00:00,2333.555556,2784.0,377.0,0.0,0.0,0.0,220.0,188.5,188.5

In [23]:
totalBand['_time'] = pd.to_datetime(totalBand["_time"], format='mixed', infer_datetime_format=True)
gossipBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

gossipBand = totalBand.merge(gossipBandwidth, on=['experiment', '_time'], how='outer').fillna(0)

gossipBand.head(500)

/tmp/ipykernel_3166/187803194.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  totalBand['_time'] = pd.to_datetime(totalBand["_time"], format='mixed', infer_datetime_format=True)
/tmp/ipykernel_3166/187803194.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  gossipBandwidth['_time'] = pd.to_datetime(totalBandwidth["_time"], format='mixed', infer_datetime_format=True)

,experiment,_time,propagationTime,messageReceived,messageDuplicated,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,gossipBandwidth
0,390,2023-10-04 18:52:04+00:00,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0,289.5,289.5,0.0
1,390,2023-10-04 18:52:06+00:00,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0,271.0,271.0,0.0
2,390,2023-10-04 18:52:08+00:00,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0,36.0,36.0,0.0
3,390,2023-10-04 18:52:10+00:00,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0,288.0,288.0,0.0
4,390,2023-10-04 18:52:12+00:00,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0,232.5,232.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,390,2023-10-04 19:12:28+00:00,2401.791563,5427.0,743.0,0.0,0.0,0.0,417.0,371.5,371.5,0.0
496,390,2023-10-04 19:12:30+00:00,1250.555556,1137.0,146.0,0.0,0.0,0.0,222.0,73.0,73.0,0.0
497,390,2023-10-04 19:12:32+00:00,1885.728261,6159.0,838.0,0.0,0.0,0.0,190.0,419.0,419.0,0.0
498,390,2023-10-04 19:12:34+00:00,2143.177083,5757.0,791.0,0.0,0.0,0.0,418.0,395.5,395.5,0.0
499,390,2023-10-04 19:12:36+00:00,2333.555556,2784.0,377.0,0.0,0.0,0.0,220.0,188.5,188.5,0.0

In [25]:
consDiscovery = gossipBand.rename(columns={'messageDuplicated' : 'messageOverhead'})#.drop(columns=['bandwidth'])
consDiscovery.to_csv('./consDiscovery.csv')

consDiscovery.head(10)

,experiment,_time,propagationTime,messageReceived,messageOverhead,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,gossipBandwidth
0,390,2023-10-04 18:52:04+00:00,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0,289.5,289.5,0.0
1,390,2023-10-04 18:52:06+00:00,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0,271.0,271.0,0.0
2,390,2023-10-04 18:52:08+00:00,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0,36.0,36.0,0.0
3,390,2023-10-04 18:52:10+00:00,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0,288.0,288.0,0.0
4,390,2023-10-04 18:52:12+00:00,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0,232.5,232.5,0.0
5,390,2023-10-04 18:52:14+00:00,1556.234783,786.0,115.0,0.0,0.0,0.0,342.0,57.5,57.5,0.0
6,390,2023-10-04 18:52:16+00:00,2242.858086,4235.0,575.0,0.0,0.0,0.0,343.0,287.5,287.5,0.0
7,390,2023-10-04 18:52:18+00:00,2543.645161,3446.0,457.0,0.0,0.0,0.0,0.0,228.5,228.5,0.0
8,390,2023-10-04 18:52:20+00:00,1450.692982,1503.0,205.0,0.0,0.0,0.0,349.0,102.5,102.5,0.0
9,390,2023-10-04 18:52:22+00:00,1895.510836,4371.0,591.0,0.0,0.0,0.0,346.0,295.5,295.5,0.0

In [26]:
consFinal = consDiscovery.merge(experiments, on='experiment')
consFinal = consFinal.drop(columns=['_time', 'start', 'end', 'startUnix', 'endUnix', 'parameter', 'originalStart', 'originalEnd']) 

consFinal.to_csv('./consolidated.csv')
consFinal.head(10)

,experiment,propagationTime,messageReceived,messageOverhead,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,gossipBandwidth,topology,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval
0,390,1880.400662,4226.0,579.0,0.0,0.0,0.0,347.0,289.5,289.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
1,390,1670.648148,3986.0,542.0,0.0,0.0,0.0,0.0,271.0,271.0,0.0,unl,8,6,12,4,8,2,0.25,1.0
2,390,1710.708333,472.0,72.0,0.0,0.0,0.0,351.0,36.0,36.0,0.0,unl,8,6,12,4,8,2,0.25,1.0
3,390,1842.387417,4241.0,576.0,0.0,0.0,0.0,347.0,288.0,288.0,0.0,unl,8,6,12,4,8,2,0.25,1.0
4,390,1816.257895,3430.0,465.0,0.0,0.0,0.0,0.0,232.5,232.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
5,390,1556.234783,786.0,115.0,0.0,0.0,0.0,342.0,57.5,57.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
6,390,2242.858086,4235.0,575.0,0.0,0.0,0.0,343.0,287.5,287.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
7,390,2543.645161,3446.0,457.0,0.0,0.0,0.0,0.0,228.5,228.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
8,390,1450.692982,1503.0,205.0,0.0,0.0,0.0,349.0,102.5,102.5,0.0,unl,8,6,12,4,8,2,0.25,1.0
9,390,1895.510836,4371.0,591.0,0.0,0.0,0.0,346.0,295.5,295.5,0.0,unl,8,6,12,4,8,2,0.25,1.0