In [9]:
import pandas as pd
import numpy as np

from influxdb_client import InfluxDBClient, Point, Dialect

import re
import time
import datetime

import warnings
from influxdb_client.client.warnings import MissingPivotFunction

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.colors as colors

import pandasql as ps
import sqlite3

import csv

import warnings 
from influxdb_client.client.warnings import MissingPivotFunction
warnings.simplefilter("ignore", MissingPivotFunction)

import gc

pd.set_option('display.max_rows', 500)

In [12]:
def experiment(start_time, end_time, filepath):
    # Retrieve experiments data from csv
    data = pd.read_csv(filepath, header=None)
    df = pd.DataFrame(data)

    #Rename columns
    experiments = df.rename(columns={0: "start", 1: "end", 2: "topology", 3: "runtime", 4: "parameter", 5: "d", 6: "dlo", 7: "dhi", 8: "dscore", 9: "dlazy", 10: "dout", 11: "gossipFactor", 12: "initialDelay", 13: "interval"}, errors='raise')

    #Correct timestamp
    experiments["start"] = experiments["start"].str.slice(0, 27)
    experiments["end"] = experiments["end"].str.slice(0, 27)

    #String to timestamp
    # experiments['startUnix'] = pd.to_datetime(experiments["start"],format="%Y-%m-%d %H:%M:%S.%f").astype('int64') / 10**9
    # experiments['endUnix'] = pd.to_datetime(experiments["end"],format="%Y-%m-%d %H:%M:%S.%f").astype('int64') / 10**9
    experiments['startUnix'] = pd.to_datetime(experiments["start"],format="mixed").astype('int64') / 10**9
    experiments['endUnix'] = pd.to_datetime(experiments["end"],format="mixed").astype('int64') / 10**9


    experiments['startUnix'] = pd.to_timedelta(experiments['startUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)
    experiments['endUnix'] = pd.to_timedelta(experiments['endUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)

    #Drop fields we don't mneed for the moment
    exp = experiments.drop(columns=["runtime", "initialDelay"]).sort_values(by=["start"])

    #Get times for different intervals
    # intervals = exp["interval"].drop_duplicates().sort_values().reset_index(drop=True)
    # intervals.head(10)

    # expTime = exp[exp['startUnix'].astype(int).between(start_time, end_time)]
    # expTime['experiment'] = expTime.index
    expTime = exp.reset_index().rename({'index':'experiment'}, axis = 'columns')

    return expTime

experiments = experiment(start, end, '../../experiments.csv')
experiments.tail(50)

,experiment,start,end,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,startUnix,endUnix
616,616,2023-11-10 23:41:01.0448180,2023-11-11 00:11:01.0479786,general,random8,10,8,16,4,8,2,0.15,1.0,1699659661,1699661461
617,617,2023-11-11 00:14:36.1433985,2023-11-11 00:44:36.1497108,general,random8,10,8,16,4,8,2,0.15,1.0,1699661676,1699663476
618,618,2023-11-16 21:11:58.8405660,2023-11-16 21:41:58.8429866,unl,informed9,8,6,12,4,6,2,0.15,3.0,1700169118,1700170918
619,619,2023-11-16 21:45:27.7643452,2023-11-16 22:15:27.7677002,unl,informed9,8,6,12,4,6,2,0.15,3.0,1700171127,1700172927
620,620,2023-11-16 22:19:01.4425719,2023-11-16 22:49:01.4476435,unl,informed9,8,6,12,4,6,2,0.15,3.0,1700173141,1700174941
621,621,2023-11-16 22:52:35.0247897,2023-11-16 23:22:35.0288852,unl,informed10,16,6,20,4,6,4,0.50,1.0,1700175155,1700176955
622,622,2023-11-16 23:26:08.6240216,2023-11-16 23:56:08.6271928,unl,informed10,16,6,20,4,6,4,0.50,1.0,1700177168,1700178968
623,623,2023-11-16 23:59:42.3830669,2023-11-17 00:29:42.3863504,unl,informed10,16,6,20,4,6,4,0.50,1.0,1700179182,1700180982
624,624,2023-11-17 00:33:15.8462845,2023-11-17 01:03:15.8485642,unl,informed11,16,8,20,8,8,4,0.15,3.0,1700181195,1700182995
625,625,2023-11-17 01:06:49.2800187,2023-11-17 01:36:49.2818318,unl,informed11,16,8,20,8,8,4,0.15,3.0,1700183209,1700185009
626,626,2023-11-17 01:40:22.8064965,2023-11-17 02:10:22.8076993,unl,informed11,16,8,20,8,8,4,0.15,3.0,1700185222,1700187022
627,627,2023-11-17 02:13:56.7446117,2023-11-17 02:43:56.8039756,unl,informed12,16,8,15,16,8,4,0.75,0.5,1700187236,1700189036
628,628,2023-11-17 02:47:29.4257461,2023-11-17 03:17:29.4324197,unl,informed12,16,8,15,16,8,4,0.75,0.5,1700189249,1700191049
629,629,2023-11-17 03:21:01.7959358,2023-11-17 03:51:01.8567301,unl,informed12,16,8,15,16,8,4,0.75,0.5,1700191261,1700193061
630,630,2023-11-17 03:54:34.3169159,2023-11-17 04:24:34.3217851,unl,informed13,5,4,7,3,2,2,0.25,1.0,1700193274,1700195074
631,631,2023-11-17 04:28:07.2762414,2023-11-17 04:58:07.2791021,unl,informed13,5,4,7,3,2,2,0.25,1.0,1700195287,1700197087
632,632,2023-11-17 05:01:40.9679665,2023-11-17 05:31:40.9708049,unl,informed13,5,4,7,3,2,2,0.25,1.0,1700197300,1700199100
633,633,2023-11-17 05:35:14.9529245,2023-11-17 06:05:14.9559338,unl,informed14,6,4,8,7,5,4,0.25,3.0,1700199314,1700201114
634,634,2023-11-17 06:08:48.8397316,2023-11-17 06:38:48.8435769,unl,informed14,6,4,8,7,5,4,0.25,3.0,1700201328,1700203128
635,635,2023-11-17 06:42:22.8565485,2023-11-17 07:12:22.8597625,unl,informed14,6,4,8,7,5,4,4.25,3.0,1700203342,1700205142
636,636,2023-11-17 07:15:57.3446798,2023-11-17 07:45:57.3471956,unl,informed15,6,3,8,2,2,4,0.25,0.5,1700205357,1700207157
637,637,2023-11-17 07:49:30.2791751,2023-11-17 08:19:30.3103294,unl,informed15,6,3,8,2,2,4,0.25,0.5,1700207370,1700209170
638,638,2023-11-17 08:23:03.0112121,2023-11-17 08:53:03.0485708,unl,informed15,6,3,8,2,2,4,0.25,0.5,1700209383,1700211183
639,639,2023-11-17 08:56:36.1136819,2023-11-17 09:26:36.1210690,unl,informed16,21,16,24,5,16,8,0.50,1.0,1700211396,1700213196
640,640,2023-11-17 09:30:09.2402946,2023-11-17 10:00:09.2497084,unl,informed16,21,16,24,5,16,8,0.50,1.0,1700213409,1700215209
641,641,2023-11-17 10:03:42.4091251,2023-11-17 10:33:42.4114497,unl,informed16,21,16,24,5,16,8,0.50,1.0,1700215422,1700217222
642,642,2023-11-21 15:24:52.4720765,2023-11-21 15:54:52.4750780,general,informed9,8,6,12,4,6,2,0.15,3.0,1700580292,1700582092
643,643,2023-11-21 15:58:26.2385739,2023-11-21 16:28:26.2470730,general,informed9,8,6,12,4,6,2,0.15,3.0,1700582306,1700584106
644,644,2023-11-21 16:31:59.9970877,2023-11-21 17:02:00.0047743,general,informed9,8,6,12,4,6,2,0.15,3.0,1700584319,1700586120
645,645,2023-11-21 17:05:33.6824106,2023-11-21 17:35:33.6886246,general,informed10,16,6,20,4,6,4,0.50,1.0,1700586333,1700588133
646,646,2023-11-21 17:39:08.0129121,2023-11-21 18:09:08.0166440,general,informed10,16,6,20,4,6,4,0.50,1.0,1700588348,1700590148
647,647,2023-11-21 18:12:42.0079651,2023-11-21 18:42:42.0110142,general,informed10,16,6,20,4,6,4,0.50,1.0,1700590362,1700592162
648,648,2023-11-21 18:46:16.3191492,2023-11-21 19:16:16.3207097,general,informed11,16,8,20,8,8,4,0.15,3.0,1700592376,1700594176
649,649,2023-11-21 19:19:50.6788162,2023-11-21 19:49:50.6887671,general,informed11,16,8,20,8,8,4,0.15,3.0,1700594390,1700596190
650,650,2023-11-21 19:53:25.1009466,2023-11-21 20:23:25.1072124,general,informed11,16,8,20,8,8,4,0.15,3.0,1700596405,1700598205
651,651,2023-11-21 20:26:59.6970253,2023-11-21 20:56:59.7013529,general,informed12,16,8,15,16,8,4,0.75,0.5,1700598419,1700600219
652,652,2023-11-21 21:00:32.4770009,2023-11-21 21:30:32.4890113,general,informed12,16,8,15,16,8,4,0.75,0.5,1700600432,1700602232
653,653,2023-11-21 21:34:06.4672540,2023-11-21 22:04:06.4816988,general,informed12,16,8,15,16,8,4,0.75,0.5,1700602446,1700604246
654,654,2023-11-21 22:07:40.2346165,2023-11-21 22:37:40.2385545,general,informed13,5,4,7,3,2,2,0.25,1.0,1700604460,1700606260
655,655,2023-11-21 22:41:14.2028913,2023-11-21 23:11:14.2104657,general,informed13,5,4,7,3,2,2,0.25,1.0,1700606474,1700608274
656,656,2023-11-21 23:14:48.2294649,2023-11-21 23:44:48.2363093,general,informed13,5,4,7,3,2,2,0.25,1.0,1700608488,1700610288
657,657,2023-11-21 23:48:22.6068989,2023-11-22 00:18:22.6099262,general,informed14,6,4,8,7,5,4,0.25,3.0,1700610502,1700612302
658,658,2023-11-22 00:21:57.0236579,2023-11-22 00:51:57.0268426,general,informed14,6,4,8,7,5,4,0.25,3.0,1700612517,1700614317
659,659,2023-11-22 00:55:31.7982279,2023-11-22 01:25:31.8006414,general,informed14,6,4,8,7,5,4,4.25,3.0,1700614531,1700616331
660,660,2023-11-22 01:29:06.3602456,2023-11-22 01:59:06.3648203,general,informed15,6,3,8,2,2,4,0.25,0.5,1700616546,1700618346
661,661,2023-11-22 02:02:40.2343885,2023-11-22 02:32:40.2368451,general,informed15,6,3,8,2,2,4,0.25,0.5,1700618560,1700620360
662,662,2023-11-22 02:36:14.2823737,2023-11-22 03:06:14.2932442,general,informed15,6,3,8,2,2,4,0.25,0.5,1700620574,1700622374
663,663,2023-11-22 03:09:48.5789046,2023-11-22 03:39:48.5860069,general,informed16,21,16,24,5,16,8,0.50,1.0,1700622588,1700624388
664,664,2023-11-22 03:43:22.2716142,2023-11-22 04:13:22.2769946,general,informed16,21,16,24,5,16,8,0.50,1.0,1700624602,1700626402
665,665,2023-11-22 04:16:56.2570170,2023-11-22 04:46:56.2665149,general,informed16,21,16,24,5,16,8,0.50,1.0,1700626616,1700628416

In [66]:
data = pd.read_csv('../datasets/timeSeries1s.csv', header=0,  index_col=0)
message = pd.DataFrame(data)

idx = [3.0, 17.0]
message = message[message["type"].isin(idx)]
message = message.drop(columns=["type", "identifier"])

message.head(10)

    experiment                      _time  count
21         618  2023-11-16 21:12:00+00:00    136
22         618  2023-11-16 21:12:03+00:00    134
23         618  2023-11-16 21:12:06+00:00    133
24         618  2023-11-16 21:12:09+00:00    134
25         618  2023-11-16 21:12:12+00:00    134
26         618  2023-11-16 21:12:15+00:00    136
27         618  2023-11-16 21:12:18+00:00    138
28         618  2023-11-16 21:12:21+00:00    136
29         618  2023-11-16 21:12:24+00:00    135
30         618  2023-11-16 21:12:27+00:00    135

In [69]:
dfNoIndex = message.reset_index()
dfNoIndex['_time'] = pd.to_datetime(dfNoIndex["_time"], format='mixed')#.tz_localize(None)

by_time = dfNoIndex.groupby([dfNoIndex['experiment'],pd.Grouper(key="_time", freq='1s')])["count"].sum().reset_index()
# dfAggTime = by_time.rename(columns={"_measurement": "count"})
by_time.head(10)

   experiment                     _time  count
0         385 2023-10-04 13:38:37+00:00   1029
1         385 2023-10-04 13:38:38+00:00    858
2         385 2023-10-04 13:38:39+00:00    802
3         385 2023-10-04 13:38:40+00:00   2451
4         385 2023-10-04 13:38:41+00:00   1198
5         385 2023-10-04 13:38:42+00:00    809
6         385 2023-10-04 13:38:43+00:00   2442
7         385 2023-10-04 13:38:44+00:00   1209
8         385 2023-10-04 13:38:45+00:00    816
9         385 2023-10-04 13:38:46+00:00   2453

In [70]:
# message["duration"] = (message["end"]-message["start"])/pd.Timedelta(seconds=1)

dfAggTime = by_time.merge(experiments, on=["experiment"], how='inner')
dfAggTime = dfAggTime.drop(columns=['parameter', 'topology', 'd', 'dhi', 'dlo', 'dscore', 'dlazy', 'dout', 'gossipFactor', 'interval', 'startUnix', 'endUnix'])

dfAggTime['_time'] = pd.to_datetime(dfAggTime["_time"], format='mixed')#.tz_localize(None)
dfAggTime['start'] = pd.to_datetime(dfAggTime["start"], format='mixed')#.tz_localize(None)
dfAggTime['end'] = pd.to_datetime(dfAggTime["end"], format='mixed')#.tz_localize(None)

dfAggTime["duration"] = (dfAggTime["end"]-dfAggTime["start"])/pd.Timedelta(seconds=1)

dfAggTime.head(10)

,experiment,_time,count,start,end,duration
0,385,2023-10-04 13:38:37+00:00,1029,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
1,385,2023-10-04 13:38:38+00:00,858,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
2,385,2023-10-04 13:38:39+00:00,802,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
3,385,2023-10-04 13:38:40+00:00,2451,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
4,385,2023-10-04 13:38:41+00:00,1198,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
5,385,2023-10-04 13:38:42+00:00,809,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
6,385,2023-10-04 13:38:43+00:00,2442,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
7,385,2023-10-04 13:38:44+00:00,1209,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
8,385,2023-10-04 13:38:45+00:00,816,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221
9,385,2023-10-04 13:38:46+00:00,2453,2023-10-04 13:25:01.075225100,2023-10-04 13:40:01.077446200,900.002221

In [42]:
experiments.loc[experiments['experiment'] == 390].head(50)

,experiment,start,end,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,startUnix,endUnix
390,390,2023-10-04 18:52:03.0807730,2023-10-04 19:22:03.0866518,unl,reference,8,6,12,4,8,2,0.25,1.0,1696445523,1696447323

In [76]:
df=dfAggTime.drop(columns=["start", "end", "_time"])

avgPropExp = df.loc[df["duration"] >= 1800]
avgPropExp = avgPropExp.groupby(['experiment', 'duration']).agg('sum')

avgPropExp.reset_index(inplace=True)
avgPropExp['mean'] = avgPropExp['count']/avgPropExp['duration']

avgBand = avgPropExp.drop(columns=['duration', 'count'])

avgBand.head(10)

   experiment        mean
0         390  285.933511
1         391  195.675311
2         392   86.268800
3         393  108.486362
4         394   94.085382
5         395   36.928853
6         396   79.777656
7         397   69.534879
8         398    7.107765
9         402   75.661552

In [77]:
final = experiments.drop(columns=['startUnix', 'endUnix', 'parameter'])

final.head(10)

,experiment,start,end,topology,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval
0,0,2023-08-21 12:48:22.3741823,2023-08-21 13:18:22.3952804,unl,8,6,12,4,8,2,0.25,1.0
1,1,2023-08-21 13:21:55.6321388,2023-08-21 13:51:55.6334369,unl,8,6,12,4,8,2,0.25,1.0
2,2,2023-08-21 13:55:28.9783578,2023-08-21 14:25:28.9820206,unl,8,6,12,4,8,2,0.25,1.0
3,3,2023-08-21 14:29:02.5866046,2023-08-21 14:59:02.6871797,unl,8,6,12,4,8,2,0.25,0.5
4,4,2023-08-21 15:02:35.9708968,2023-08-21 15:32:36.0272486,unl,8,6,12,4,8,2,0.25,0.5
5,5,2023-08-21 15:36:09.3380555,2023-08-21 16:06:09.3391894,unl,8,6,12,4,8,2,0.25,0.5
6,6,2023-08-21 16:09:43.1463718,2023-08-21 16:39:43.1814633,unl,8,6,12,4,8,2,0.25,30.0
7,7,2023-08-21 16:43:16.7045785,2023-08-21 17:13:16.7785160,unl,8,6,12,4,8,2,0.25,30.0
8,8,2023-08-21 17:16:50.1424767,2023-08-21 17:46:50.1924402,unl,8,6,12,4,8,2,0.25,30.0
9,9,2023-08-21 17:50:23.0310174,2023-08-21 18:20:23.0333186,unl,8,6,12,4,8,2,0.25,3.0

In [78]:
finalBandwidth = final.merge(avgBand, on='experiment')
finalBandwidth = finalBandwidth.rename(columns={'mean' : 'bandwidth'})

finalBandwidth.to_csv('bandwidth.csv')
finalBandwidth.head(10)

,experiment,start,end,topology,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,bandwidth
0,390,2023-10-04 18:52:03.0807730,2023-10-04 19:22:03.0866518,unl,8,6,12,4,8,2,0.25,1.0,285.933511
1,391,2023-10-04 19:25:37.1533399,2023-10-04 19:55:37.1555856,unl,8,6,12,4,8,2,0.25,1.0,195.675311
2,392,2023-10-04 19:59:12.6589825,2023-10-04 20:29:12.6608307,unl,8,6,12,4,8,2,0.25,1.0,86.268800
3,393,2023-10-04 20:32:47.3098616,2023-10-04 21:02:47.3149178,unl,8,6,12,4,8,2,0.25,3.0,108.486362
4,394,2023-10-04 21:06:22.7755634,2023-10-04 21:36:22.7788800,unl,8,6,12,4,8,2,0.25,3.0,94.085382
5,395,2023-10-04 21:39:58.6528165,2023-10-04 22:09:58.6545536,unl,8,6,12,4,8,2,0.25,3.0,36.928853
6,396,2023-10-04 22:13:33.8146704,2023-10-04 22:43:33.8174094,unl,16,8,20,16,8,4,0.50,1.0,79.777656
7,397,2023-10-04 22:47:09.3837110,2023-10-04 23:17:09.3868442,unl,16,8,20,16,8,4,0.50,1.0,69.534879
8,398,2023-10-04 23:20:44.6001719,2023-10-04 23:50:44.6033804,unl,16,8,20,16,8,4,0.50,1.0,7.107765
9,402,2023-10-05 01:35:05.2471450,2023-10-05 02:05:05.2498822,unl,16,8,20,16,8,4,0.50,0.5,75.661552