In [18]:
import pandas as pd
import numpy as np

from influxdb_client import InfluxDBClient, Point, Dialect

import re
import time
import datetime

import warnings
from influxdb_client.client.warnings import MissingPivotFunction

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.colors as colors

import pandasql as ps
import sqlite3

import csv

import warnings 
from influxdb_client.client.warnings import MissingPivotFunction
warnings.simplefilter("ignore", MissingPivotFunction)

import gc

pd.set_option('display.max_rows', 500)

In [19]:
def _parse_line(line):

    rx_dict = {
    'token': re.compile(r'var token = "(?P<token>.*)"\n'),
    'url': re.compile(r'var url = "(?P<url>.*)"\n'),
    'org': re.compile(r'var org = "(?P<org>.*)"\n'),
    'bucket': re.compile(r'var bucket = "(?P<bucket>.*)"\n'),
    }   

    """
    Do a regex search against all defined regexes and
    return the key and match result of the first matching regex

    """
    for key, rx in rx_dict.items():
        match = rx.search(line)
        if match:
            return key, match
    # if there are no matches
    return None, None

filepath = '/root/flexi-pipe/config.go'
# open the file and read through it line by line
with open(filepath, 'r') as file_object:
    line = file_object.readline()
    while line:
        # at each line check for a match with a regex
        key, match = _parse_line(line)

        if key == 'token':
            token = match.group('token')
        elif key == 'url':
            url = match.group('url')
        elif key == 'org':
            org = match.group('org')
        elif key == 'bucket':
            bucket = match.group('bucket')
        
        line = file_object.readline()
# url="http://192.168.20.58:8086"
url = "http://localhost:8086"

In [20]:
start = 1693501608
end = 1694744007

In [21]:
def experiment(start_time, end_time, filepath):
    # Retrieve experiments data from csv
    data = pd.read_csv(filepath, header=None)
    df = pd.DataFrame(data)

    #Rename columns
    experiments = df.rename(columns={0: "start", 1: "end", 2: "topology", 3: "runtime", 4: "parameter", 5: "d", 6: "dlo", 7: "dhi", 8: "dscore", 9: "dlazy", 10: "dout", 11: "gossipFactor", 12: "initialDelay", 13: "interval"}, errors='raise')

    #Correct timestamp
    experiments["start"] = experiments["start"].str.slice(0, 27)
    experiments["end"] = experiments["end"].str.slice(0, 27)

    #String to timestamp
    # experiments['startUnix'] = pd.to_datetime(experiments["start"],format="%Y-%m-%d %H:%M:%S.%f").astype('int64') / 10**9
    # experiments['endUnix'] = pd.to_datetime(experiments["end"],format="%Y-%m-%d %H:%M:%S.%f").astype('int64') / 10**9
    experiments['startUnix'] = pd.to_datetime(experiments["start"],format="mixed", infer_datetime_format=True).astype('int64') / 10**9
    experiments['endUnix'] = pd.to_datetime(experiments["end"],format="mixed", infer_datetime_format=True).astype('int64') / 10**9


    experiments['startUnix'] = pd.to_timedelta(experiments['startUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)
    experiments['endUnix'] = pd.to_timedelta(experiments['endUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)

    #Drop fields we don't mneed for the moment
    exp = experiments.drop(columns=["runtime", "initialDelay"]).sort_values(by=["start"])

    #Get times for different intervals
    # intervals = exp["interval"].drop_duplicates().sort_values().reset_index(drop=True)
    # intervals.head(10)

    expTime = exp[exp['startUnix'].astype(int).between(start_time, end_time)]
    # expTime['experiment'] = expTime.index
    expTime = expTime.reset_index().rename({'index':'experiment'}, axis = 'columns')

    return expTime

experiments = experiment(start, end, '../experiments.csv')
experiments.head(300)

/tmp/ipykernel_3527/3663955728.py:16: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  experiments['startUnix'] = pd.to_datetime(experiments["start"],format="mixed", infer_datetime_format=True).astype('int64') / 10**9
/tmp/ipykernel_3527/3663955728.py:17: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  experiments['endUnix'] = pd.to_datetime(experiments["end"],format="mixed", infer_datetime_format=True).astype('int64') / 10**9

,experiment,start,end,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,startUnix,endUnix
0,300,2023-08-31 17:06:48.9141201,2023-08-31 17:36:48.9166680,unl,reference,8,6,12,4,8,2,0.25,1.00,1693501608,1693503408
1,301,2023-08-31 17:40:21.3151835,2023-08-31 18:10:21.3173764,unl,reference,8,6,12,4,8,2,0.25,1.00,1693503621,1693505421
2,302,2023-08-31 18:13:53.6137805,2023-08-31 18:43:53.6156048,unl,reference,8,6,12,4,8,2,0.25,1.00,1693505633,1693507433
3,303,2023-08-31 18:47:26.3231768,2023-08-31 19:17:26.3252692,unl,reference,8,6,12,4,8,2,0.25,1.00,1693507646,1693509446
4,304,2023-08-31 19:20:59.6306490,2023-08-31 19:50:59.6344278,unl,reference,8,6,12,4,8,2,0.25,1.00,1693509659,1693511459
5,305,2023-08-31 19:54:32.0339718,2023-08-31 20:24:32.0359158,unl,reference,8,6,12,4,8,2,0.25,1.00,1693511672,1693513472
6,306,2023-09-11 18:16:21.3110713,2023-09-11 18:46:21.3522860,unl,reference,8,6,12,4,8,2,0.25,1.00,1694456181,1694457981
7,307,2023-09-11 18:54:26.4001509,2023-09-11 19:24:26.4372422,unl,reference,8,6,12,4,8,2,0.25,1.00,1694458466,1694460266
8,308,2023-09-11 19:31:44.1927688,2023-09-11 20:01:44.2159350,unl,reference,8,6,12,4,8,2,0.25,1.00,1694460704,1694462504
9,309,2023-09-11 20:09:04.8883304,2023-09-11 20:39:04.9399090,unl,reference,8,6,12,4,8,2,0.25,1.00,1694462944,1694464744
10,310,2023-09-11 20:46:25.8152460,2023-09-11 21:16:25.8461430,unl,reference,8,6,12,4,8,2,0.25,1.00,1694465185,1694466985
11,311,2023-09-11 21:23:45.1078300,2023-09-11 21:53:45.1259354,unl,reference,8,6,12,4,8,2,0.25,1.00,1694467425,1694469225
12,312,2023-09-11 22:01:05.5913369,2023-09-11 22:31:05.6188645,unl,1,16,8,20,4,8,2,0.25,1.00,1694469665,1694471465
13,313,2023-09-11 22:38:25.8382595,2023-09-11 23:08:25.8658533,unl,1,16,8,20,4,8,2,0.25,1.00,1694471905,1694473705
14,314,2023-09-11 23:15:47.0704032,2023-09-11 23:45:47.0989486,unl,1,16,8,20,4,8,2,0.25,1.00,1694474147,1694475947
15,315,2023-09-11 23:53:08.2910590,2023-09-12 00:23:08.3257977,unl,2,8,6,16,4,8,2,0.25,1.00,1694476388,1694478188
16,316,2023-09-12 00:30:35.1970200,2023-09-12 01:00:35.2187355,unl,2,8,6,16,4,8,2,0.25,1.00,1694478635,1694480435
17,317,2023-09-12 01:08:02.3169745,2023-09-12 01:38:02.3335254,unl,2,8,6,16,4,8,2,0.25,1.00,1694480882,1694482682
18,318,2023-09-12 01:45:26.2207919,2023-09-12 02:15:26.2370854,unl,3,10,8,16,4,8,2,0.25,1.00,1694483126,1694484926
19,319,2023-09-12 02:22:55.1754070,2023-09-12 02:52:55.2174123,unl,3,10,8,16,4,8,2,0.25,1.00,1694485375,1694487175
20,320,2023-09-12 03:00:23.1590007,2023-09-12 03:30:23.1822096,unl,3,10,8,16,4,8,2,0.25,1.00,1694487623,1694489423
21,321,2023-09-12 03:37:53.6041370,2023-09-12 04:07:53.6395400,unl,4,16,8,20,4,8,2,0.25,0.50,1694489873,1694491673
22,322,2023-09-12 04:15:05.3004896,2023-09-12 04:45:05.3430942,unl,4,16,8,20,4,8,2,0.25,0.50,1694492105,1694493905
23,323,2023-09-12 04:52:20.2175848,2023-09-12 05:22:20.2610118,unl,4,16,8,20,4,8,2,0.25,0.50,1694494340,1694496140
24,324,2023-09-12 05:29:30.6778756,2023-09-12 05:59:30.7883043,unl,5,8,6,16,4,8,2,0.25,0.25,1694496570,1694498370
25,325,2023-09-12 06:06:44.6701520,2023-09-12 06:36:44.7392718,unl,5,8,6,16,4,8,2,0.25,0.25,1694498804,1694500604
26,326,2023-09-12 06:43:58.1084722,2023-09-12 07:13:58.1486434,unl,5,8,6,16,4,8,2,0.25,0.25,1694501038,1694502838
27,327,2023-09-12 07:21:09.1277991,2023-09-12 07:51:09.1520410,unl,6,16,8,20,6,8,2,0.25,1.00,1694503269,1694505069
28,328,2023-09-12 18:00:05.6473282,2023-09-12 18:30:05.6489429,unl,reference,8,6,12,4,8,2,0.25,1.00,1694541605,1694543405
29,329,2023-09-12 18:33:30.3361846,2023-09-12 19:03:30.3400825,unl,reference,8,6,12,4,8,2,0.25,1.00,1694543610,1694545410
30,330,2023-09-12 19:07:00.3403636,2023-09-12 19:37:00.3500787,unl,reference,8,6,12,4,8,2,0.25,1.00,1694545620,1694547420
31,331,2023-09-12 19:40:30.1978792,2023-09-12 20:10:30.2017551,unl,reference,8,6,12,4,8,2,0.25,1.00,1694547630,1694549430
32,332,2023-09-12 20:14:00.4860767,2023-09-12 20:44:00.4880682,unl,reference,8,6,12,4,8,2,0.25,1.00,1694549640,1694551440
33,333,2023-09-12 20:47:31.5355445,2023-09-12 21:17:31.5383218,unl,reference,8,6,12,4,8,2,0.25,1.00,1694551651,1694553451
34,334,2023-09-12 21:21:03.2544528,2023-09-12 21:51:03.2568287,unl,1,16,8,20,4,8,2,0.25,1.00,1694553663,1694555463
35,335,2023-09-12 21:54:35.0673227,2023-09-12 22:24:35.0698637,unl,1,16,8,20,4,8,2,0.25,1.00,1694555675,1694557475
36,336,2023-09-12 22:28:06.9144424,2023-09-12 22:58:06.9194715,unl,1,16,8,20,4,8,2,0.25,1.00,1694557686,1694559486
37,337,2023-09-12 23:01:39.1153748,2023-09-12 23:31:39.1213058,unl,2,8,6,16,4,8,2,0.25,1.00,1694559699,1694561499
38,338,2023-09-12 23:35:11.7401999,2023-09-13 00:05:11.7436074,unl,2,8,6,16,4,8,2,0.25,1.00,1694561711,1694563511
39,339,2023-09-13 00:08:44.6111149,2023-09-13 00:38:44.6146010,unl,2,8,6,16,4,8,2,0.25,1.00,1694563724,1694565524
40,340,2023-09-13 00:42:17.7164108,2023-09-13 01:12:17.7183664,unl,3,10,8,16,4,8,2,0.25,1.00,1694565737,1694567537
41,341,2023-09-13 01:15:50.6520107,2023-09-13 01:45:50.6551208,unl,3,10,8,16,4,8,2,0.25,1.00,1694567750,1694569550
42,342,2023-09-13 01:49:23.6486293,2023-09-13 02:19:23.6519384,unl,3,10,8,16,4,8,2,0.25,1.00,1694569763,1694571563
43,343,2023-09-13 02:22:56.8161029,2023-09-13 02:52:56.8493053,unl,4,16,8,20,4,8,2,0.25,0.50,1694571776,1694573576
44,344,2023-09-13 02:56:28.4165478,2023-09-13 03:26:28.4742249,unl,4,16,8,20,4,8,2,0.25,0.50,1694573788,1694575588
45,345,2023-09-13 03:29:59.4930994,2023-09-13 03:59:59.4945179,unl,4,16,8,20,4,8,2,0.25,0.50,1694575799,1694577599
46,346,2023-09-13 04:03:31.8704456,2023-09-13 04:33:31.8934454,unl,5,8,6,16,4,8,2,0.25,0.25,1694577811,1694579611
47,347,2023-09-13 04:37:03.9140869,2023-09-13 05:07:04.0156657,unl,5,8,6,16,4,8,2,0.25,0.25,1694579823,1694581624
48,348,2023-09-13 05:10:36.3834440,2023-09-13 05:40:36.3944003,unl,5,8,6,16,4,8,2,0.25,0.25,1694581836,1694583636
49,349,2023-09-13 05:44:08.9094444,2023-09-13 06:14:08.9122003,unl,6,16,8,20,6,8,2,0.25,1.00,1694583848,1694585648
50,350,2023-09-13 06:17:41.6899503,2023-09-13 06:47:41.6973587,unl,6,16,8,20,6,8,2,0.25,1.00,1694585861,1694587661
51,351,2023-09-13 06:51:14.8780962,2023-09-13 07:21:14.8851524,unl,6,16,8,20,6,8,2,0.25,1.00,1694587874,1694589674
52,352,2023-09-13 07:24:47.0959028,2023-09-13 07:54:47.1027388,unl,7,10,8,16,4,8,4,0.25,1.00,1694589887,1694591687
53,353,2023-09-13 07:58:19.6320625,2023-09-13 08:28:19.6361907,unl,7,10,8,16,4,8,4,0.25,1.00,1694591899,1694593699
54,354,2023-09-13 08:31:52.2900748,2023-09-13 09:01:52.2990539,unl,7,10,8,16,4,8,4,0.25,1.00,1694593912,1694595712
55,355,2023-09-13 09:05:25.6742703,2023-09-13 09:35:25.6786548,unl,8,10,8,16,4,8,2,0.15,1.00,1694595925,1694597725
56,356,2023-09-13 09:38:58.6550717,2023-09-13 10:08:58.6582981,unl,8,10,8,16,4,8,2,0.15,1.00,1694597938,1694599738
57,357,2023-09-13 10:12:32.2477428,2023-09-13 10:42:32.2496483,unl,8,10,8,16,4,8,2,0.15,1.00,1694599952,1694601752
58,358,2023-09-14 12:51:45.4083755,2023-09-14 13:21:45.4113948,general,reference,8,6,12,4,8,2,0.25,1.00,1694695905,1694697705
59,359,2023-09-14 13:25:18.4306616,2023-09-14 13:55:18.4370965,general,reference,8,6,12,4,8,2,0.25,1.00,1694697918,1694699718
60,360,2023-09-14 13:58:51.2227549,2023-09-14 14:28:51.2271605,general,reference,8,6,12,4,8,2,0.25,1.00,1694699931,1694701731
61,361,2023-09-14 14:32:24.3331501,2023-09-14 15:02:24.3346556,general,reference,8,6,12,4,8,2,0.25,1.00,1694701944,1694703744
62,362,2023-09-14 15:05:57.1265995,2023-09-14 15:35:57.1282354,general,reference,8,6,12,4,8,2,0.25,1.00,1694703957,1694705757
63,363,2023-09-14 15:39:31.2180260,2023-09-14 16:09:31.2199064,general,reference,8,6,12,4,8,2,0.25,1.00,1694705971,1694707771
64,364,2023-09-14 16:13:04.6333967,2023-09-14 16:43:04.6346369,general,1,16,8,20,4,8,2,0.25,1.00,1694707984,1694709784
65,365,2023-09-14 16:46:37.5141837,2023-09-14 17:16:37.5164820,general,1,16,8,20,4,8,2,0.25,1.00,1694709997,1694711797
66,366,2023-09-14 17:20:10.5966178,2023-09-14 17:50:10.6003791,general,1,16,8,20,4,8,2,0.25,1.00,1694712010,1694713810
67,367,2023-09-14 17:53:44.3964686,2023-09-14 18:23:44.3984741,general,2,8,6,16,4,8,2,0.25,1.00,1694714024,1694715824
68,368,2023-09-14 18:27:18.1742265,2023-09-14 18:57:18.1755655,general,2,8,6,16,4,8,2,0.25,1.00,1694716038,1694717838
69,369,2023-09-14 19:00:51.7816037,2023-09-14 19:30:51.7828829,general,2,8,6,16,4,8,2,0.25,1.00,1694718051,1694719851
70,370,2023-09-14 19:34:25.4908837,2023-09-14 20:04:25.4937221,general,3,10,8,16,4,8,2,0.25,1.00,1694720065,1694721865
71,371,2023-09-14 20:07:58.9157259,2023-09-14 20:37:58.9174656,general,3,10,8,16,4,8,2,0.25,1.00,1694722078,1694723878
72,372,2023-09-14 20:41:31.4572101,2023-09-14 21:11:31.4589381,general,3,10,8,16,4,8,2,0.25,1.00,1694724091,1694725891
73,373,2023-09-14 21:15:05.3196104,2023-09-14 21:45:05.4020058,general,4,16,8,20,4,8,2,0.25,0.50,1694726105,1694727905
74,374,2023-09-14 21:48:37.7148347,2023-09-14 22:18:37.7730711,general,4,16,8,20,4,8,2,0.25,0.50,1694728117,1694729917
75,375,2023-09-14 22:22:10.3473492,2023-09-14 22:52:10.4479603,general,4,16,8,20,4,8,2,0.25,0.50,1694730130,1694731930
76,376,2023-09-14 22:55:43.1991746,2023-09-14 23:25:43.2010989,general,5,8,6,16,4,8,2,0.25,0.25,1694732143,1694733943
77,377,2023-09-14 23:29:16.0790636,2023-09-14 23:59:16.0905278,general,5,8,6,16,4,8,2,0.25,0.25,1694734156,1694735956
78,378,2023-09-15 00:02:48.7571815,2023-09-15 00:32:48.8585556,general,5,8,6,16,4,8,2,0.25,0.25,1694736168,1694737968
79,379,2023-09-15 00:36:21.6052284,2023-09-15 01:06:21.6099236,general,6,16,8,20,6,8,2,0.25,1.00,1694738181,1694739981
80,380,2023-09-15 01:09:54.8611939,2023-09-15 01:39:54.8623037,general,6,16,8,20,6,8,2,0.25,1.00,1694740194,1694741994
81,381,2023-09-15 01:43:27.9442943,2023-09-15 02:13:27.9490596,general,6,16,8,20,6,8,2,0.25,1.00,1694742207,1694744007

In [22]:
def from_influx(url, token, org, measurement, start_time, end_time,grouping_key):
    client = InfluxDBClient(url=url, token=token, org=org,  timeout=900_000)

    # write_api = client.write_api(write_options=SYNCHRONOUS)
    query_api = client.query_api()

    data_frame = query_api.query_data_frame('from(bucket: "gs") '
                                        ' |> range(start: '+str(start_time)+', stop:'+str(end_time)+') '
                                        ' |> filter(fn: (r) => r._measurement == "'+measurement+'") '
                                        ' |> group(columns: ["_measurement", "_field"], mode: "by") '
                                        ' |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")')
    client.close()

    # df = data_frame.drop(columns=['result', 'table','_start', '_stop', '_measurement', 'topic', 'receivedFrom']).sort_values(by=["_time"]).reset_index(drop=True)
    data_frame.reset_index(inplace=True)
    df = data_frame[['_time', grouping_key]].sort_values(by=["_time"]).reset_index(drop=True)
    df["_time"] = pd.to_datetime(df["_time"])

    return df

In [23]:
def from_influx_count(url, token, org, start_time, end_time,grouping_key):
    # start_time = 1693222601 
    # end_time = 1693228430    
    client = InfluxDBClient(url=url, token=token, org=org,  timeout=900_000)
        
        # write_api = client.write_api(write_options=SYNCHRONOUS)
    query_api = client.query_api()
        
    data_frame = query_api.query_data_frame('from(bucket: "gs") '
                       ' |> range(start: '+str(start_time)+', stop:'+str(end_time)+') '
                        '|> filter(fn: (r) => r._measurement == "deliverMessage") '
                        '|> group(columns: ["_measurement", "_field"], mode: "by") '
                        '|> count()')
    client.close()

    if data_frame.empty:
        count = 0
    else:
        count = data_frame["_value"].min().astype(int)
    return count

In [24]:
#Validate data
validate = pd.DataFrame()

for index, row in experiments.iterrows():
    count = from_influx_count(url, token, org, row["startUnix"], row["endUnix"],"_measurement")
    d = {'experiment': [row['experiment']], 'count': [count], 'topology': [row["topology"]], 'd': [row["d"]],'dhi': [row["dhi"]],'dlo': [row["dlo"]],'dlazy': [row["dlazy"]],
        'dscore': [row["dscore"]],'dout': [row["dout"]],'gossipFactor': [row["gossipFactor"]],'interval': [row["interval"]],}
    aux = pd.DataFrame(data=d)
    validate = pd.concat([validate, aux])

# validate.head(200)

exps = experiments.merge(validate, on=['experiment', 'topology','d','dhi','dlo','dlazy','dscore','dout','gossipFactor','interval'])
exps = exps.loc[exps["count"]>0]

exps.head(10)

,experiment,start,end,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,startUnix,endUnix,count
0,300,2023-08-31 17:06:48.9141201,2023-08-31 17:36:48.9166680,unl,reference,8,6,12,4,8,2,0.25,1.0,1693501608,1693503408,128481
1,301,2023-08-31 17:40:21.3151835,2023-08-31 18:10:21.3173764,unl,reference,8,6,12,4,8,2,0.25,1.0,1693503621,1693505421,215
7,307,2023-09-11 18:54:26.4001509,2023-09-11 19:24:26.4372422,unl,reference,8,6,12,4,8,2,0.25,1.0,1694458466,1694460266,213
9,309,2023-09-11 20:09:04.8883304,2023-09-11 20:39:04.9399090,unl,reference,8,6,12,4,8,2,0.25,1.0,1694462944,1694464744,5570
10,310,2023-09-11 20:46:25.8152460,2023-09-11 21:16:25.8461430,unl,reference,8,6,12,4,8,2,0.25,1.0,1694465185,1694466985,2426
23,323,2023-09-12 04:52:20.2175848,2023-09-12 05:22:20.2610118,unl,4,16,8,20,4,8,2,0.25,0.5,1694494340,1694496140,1411
28,328,2023-09-12 18:00:05.6473282,2023-09-12 18:30:05.6489429,unl,reference,8,6,12,4,8,2,0.25,1.0,1694541605,1694543405,194713
29,329,2023-09-12 18:33:30.3361846,2023-09-12 19:03:30.3400825,unl,reference,8,6,12,4,8,2,0.25,1.0,1694543610,1694545410,243619
30,330,2023-09-12 19:07:00.3403636,2023-09-12 19:37:00.3500787,unl,reference,8,6,12,4,8,2,0.25,1.0,1694545620,1694547420,199084
31,331,2023-09-12 19:40:30.1978792,2023-09-12 20:10:30.2017551,unl,reference,8,6,12,4,8,2,0.25,1.0,1694547630,1694549430,208266

In [25]:
#Remove fault executions

#get median
median = exps.drop(columns=['start','end','startUnix','endUnix', 'parameter', 'experiment']).drop_duplicates()
median = median.groupby(['topology','d','dhi','dlo','dlazy','dscore','dout','gossipFactor','interval']).agg({'count':['median', 'std', 'mean']})
median.columns = median.columns.droplevel(0)
median.reset_index(inplace=True)
median = median.loc[median['median'] > 0]

median.head(50)

,topology,d,dhi,dlo,dlazy,dscore,dout,gossipFactor,interval,median,std,mean
0,general,8,12,6,8,4,2,0.25,1.00,106449.5,7037.234184,104209.166667
1,general,8,16,6,8,4,2,0.25,0.25,3003.0,1874.623251,3599.666667
2,general,8,16,6,8,4,2,0.25,1.00,84943.0,52538.887411,83523.333333
3,general,16,20,8,8,4,2,0.25,0.50,446.0,NaN,446.000000
4,general,16,20,8,8,4,2,0.25,1.00,101127.0,17637.180926,106373.000000
5,unl,8,12,6,8,4,2,0.25,1.00,174168.0,103602.719369,126953.818182
6,unl,8,16,6,8,4,2,0.25,0.25,137051.0,53305.997299,124107.000000
7,unl,8,16,6,8,4,2,0.25,1.00,167606.0,61316.057424,167606.000000
8,unl,10,16,8,8,4,4,0.25,1.00,155548.0,135973.805595,155548.000000
9,unl,16,20,8,8,4,2,0.25,0.50,11650.5,14480.839772,11650.500000
10,unl,16,20,8,8,4,2,0.25,1.00,133797.0,14156.425290,137166.000000
11,unl,16,20,8,8,6,2,0.25,1.00,203637.0,19076.372567,210127.333333

In [26]:
#Validate the data

validation = exps.merge(median, on=['topology','d','dhi','dlo','dlazy','dscore','dout','gossipFactor','interval'])
validated = validation[(validation['count'] >= validation['mean']-(0.15*validation['std']))]
validated = validated.drop(columns=['startUnix', 'endUnix'])
validated.dropna()

validated.head(100)

,experiment,start,end,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,count,median,std,mean
0,300,2023-08-31 17:06:48.9141201,2023-08-31 17:36:48.9166680,unl,reference,8,6,12,4,8,2,0.25,1.00,128481,174168.0,103602.719369,126953.818182
5,328,2023-09-12 18:00:05.6473282,2023-09-12 18:30:05.6489429,unl,reference,8,6,12,4,8,2,0.25,1.00,194713,174168.0,103602.719369,126953.818182
6,329,2023-09-12 18:33:30.3361846,2023-09-12 19:03:30.3400825,unl,reference,8,6,12,4,8,2,0.25,1.00,243619,174168.0,103602.719369,126953.818182
7,330,2023-09-12 19:07:00.3403636,2023-09-12 19:37:00.3500787,unl,reference,8,6,12,4,8,2,0.25,1.00,199084,174168.0,103602.719369,126953.818182
8,331,2023-09-12 19:40:30.1978792,2023-09-12 20:10:30.2017551,unl,reference,8,6,12,4,8,2,0.25,1.00,208266,174168.0,103602.719369,126953.818182
9,332,2023-09-12 20:14:00.4860767,2023-09-12 20:44:00.4880682,unl,reference,8,6,12,4,8,2,0.25,1.00,174168,174168.0,103602.719369,126953.818182
10,333,2023-09-12 20:47:31.5355445,2023-09-12 21:17:31.5383218,unl,reference,8,6,12,4,8,2,0.25,1.00,239737,174168.0,103602.719369,126953.818182
12,345,2023-09-13 03:29:59.4930994,2023-09-13 03:59:59.4945179,unl,4,16,8,20,4,8,2,0.25,0.50,21890,11650.5,14480.839772,11650.500000
15,336,2023-09-12 22:28:06.9144424,2023-09-12 22:58:06.9194715,unl,1,16,8,20,4,8,2,0.25,1.00,152703,133797.0,14156.425290,137166.000000
17,338,2023-09-12 23:35:11.7401999,2023-09-13 00:05:11.7436074,unl,2,8,6,16,4,8,2,0.25,1.00,210963,167606.0,61316.057424,167606.000000
19,347,2023-09-13 04:37:03.9140869,2023-09-13 05:07:04.0156657,unl,5,8,6,16,4,8,2,0.25,0.25,169749,137051.0,53305.997299,124107.000000
20,348,2023-09-13 05:10:36.3834440,2023-09-13 05:40:36.3944003,unl,5,8,6,16,4,8,2,0.25,0.25,137051,137051.0,53305.997299,124107.000000
22,350,2023-09-13 06:17:41.6899503,2023-09-13 06:47:41.6973587,unl,6,16,8,20,6,8,2,0.25,1.00,231602,203637.0,19076.372567,210127.333333
24,352,2023-09-13 07:24:47.0959028,2023-09-13 07:54:47.1027388,unl,7,10,8,16,4,8,4,0.25,1.00,251696,155548.0,135973.805595,155548.000000
26,358,2023-09-14 12:51:45.4083755,2023-09-14 13:21:45.4113948,general,reference,8,6,12,4,8,2,0.25,1.00,108593,106449.5,7037.234184,104209.166667
29,361,2023-09-14 14:32:24.3331501,2023-09-14 15:02:24.3346556,general,reference,8,6,12,4,8,2,0.25,1.00,111750,106449.5,7037.234184,104209.166667
30,362,2023-09-14 15:05:57.1265995,2023-09-14 15:35:57.1282354,general,reference,8,6,12,4,8,2,0.25,1.00,108786,106449.5,7037.234184,104209.166667
31,363,2023-09-14 15:39:31.2180260,2023-09-14 16:09:31.2199064,general,reference,8,6,12,4,8,2,0.25,1.00,104306,106449.5,7037.234184,104209.166667
33,365,2023-09-14 16:46:37.5141837,2023-09-14 17:16:37.5164820,general,1,16,8,20,4,8,2,0.25,1.00,126038,101127.0,17637.180926,106373.000000
35,367,2023-09-14 17:53:44.3964686,2023-09-14 18:23:44.3984741,general,2,8,6,16,4,8,2,0.25,1.00,84943,84943.0,52538.887411,83523.333333
36,368,2023-09-14 18:27:18.1742265,2023-09-14 18:57:18.1755655,general,2,8,6,16,4,8,2,0.25,1.00,135338,84943.0,52538.887411,83523.333333
40,377,2023-09-14 23:29:16.0790636,2023-09-14 23:59:16.0905278,general,5,8,6,16,4,8,2,0.25,0.25,5700,3003.0,1874.623251,3599.666667

In [27]:
final = validated.drop(columns=['experiment', 'start','end', 'parameter', 'count', 'std', 'median', 'mean']).drop_duplicates()
final['n_nodes'] = 23
final = final.reset_index().rename({'index':'identifier'}, axis = 'columns')
final.head(10)

,identifier,topology,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,n_nodes
0,0,unl,8,6,12,4,8,2,0.25,1.00,23
1,12,unl,16,8,20,4,8,2,0.25,0.50,23
2,15,unl,16,8,20,4,8,2,0.25,1.00,23
3,17,unl,8,6,16,4,8,2,0.25,1.00,23
4,19,unl,8,6,16,4,8,2,0.25,0.25,23
5,22,unl,16,8,20,6,8,2,0.25,1.00,23
6,24,unl,10,8,16,4,8,4,0.25,1.00,23
7,26,general,8,6,12,4,8,2,0.25,1.00,23
8,33,general,16,8,20,4,8,2,0.25,1.00,23
9,35,general,8,6,16,4,8,2,0.25,1.00,23

In [28]:
#Limit extraction to 15 minutes

experiments = validated.drop(columns=['count','median', 'mean','std']).rename(columns={'start':'originalStart','end':'originalEnd'})

experiments['originalStart'] = pd.to_datetime(experiments["originalStart"], format='mixed')
experiments['originalEnd'] = pd.to_datetime(experiments["originalEnd"], format='mixed')

experiments['start'] = experiments['originalStart'] + pd.Timedelta(hours=0, minutes=7, seconds=30)
experiments['end'] = experiments['originalEnd'] - pd.Timedelta(hours=0, minutes=7, seconds=30)

experiments['startUnix'] = pd.to_datetime(experiments["start"],format="mixed").astype('int64') / 10**9
experiments['endUnix'] = pd.to_datetime(experiments["end"],format="mixed").astype('int64') / 10**9

experiments['startUnix'] = pd.to_timedelta(experiments['startUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)
experiments['endUnix'] = pd.to_timedelta(experiments['endUnix'], unit='s').dt.total_seconds().astype(int)#.astype(str)

experiments.to_csv('experiments_filtered.csv')
experiments.head(10)

,experiment,originalStart,originalEnd,topology,parameter,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,start,end,startUnix,endUnix
0,300,2023-08-31 17:06:48.914120100,2023-08-31 17:36:48.916668000,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-08-31 17:14:18.914120100,2023-08-31 17:29:18.916668000,1693502058,1693502958
5,328,2023-09-12 18:00:05.647328200,2023-09-12 18:30:05.648942900,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 18:07:35.647328200,2023-09-12 18:22:35.648942900,1694542055,1694542955
6,329,2023-09-12 18:33:30.336184600,2023-09-12 19:03:30.340082500,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 18:41:00.336184600,2023-09-12 18:56:00.340082500,1694544060,1694544960
7,330,2023-09-12 19:07:00.340363600,2023-09-12 19:37:00.350078700,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 19:14:30.340363600,2023-09-12 19:29:30.350078700,1694546070,1694546970
8,331,2023-09-12 19:40:30.197879200,2023-09-12 20:10:30.201755100,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 19:48:00.197879200,2023-09-12 20:03:00.201755100,1694548080,1694548980
9,332,2023-09-12 20:14:00.486076700,2023-09-12 20:44:00.488068200,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 20:21:30.486076700,2023-09-12 20:36:30.488068200,1694550090,1694550990
10,333,2023-09-12 20:47:31.535544500,2023-09-12 21:17:31.538321800,unl,reference,8,6,12,4,8,2,0.25,1.0,2023-09-12 20:55:01.535544500,2023-09-12 21:10:01.538321800,1694552101,1694553001
12,345,2023-09-13 03:29:59.493099400,2023-09-13 03:59:59.494517900,unl,4,16,8,20,4,8,2,0.25,0.5,2023-09-13 03:37:29.493099400,2023-09-13 03:52:29.494517900,1694576249,1694577149
15,336,2023-09-12 22:28:06.914442400,2023-09-12 22:58:06.919471500,unl,1,16,8,20,4,8,2,0.25,1.0,2023-09-12 22:35:36.914442400,2023-09-12 22:50:36.919471500,1694558136,1694559036
17,338,2023-09-12 23:35:11.740199900,2023-09-13 00:05:11.743607400,unl,2,8,6,16,4,8,2,0.25,1.0,2023-09-12 23:42:41.740199900,2023-09-12 23:57:41.743607400,1694562161,1694563061

In [12]:
def from_influx_message(url, token, org, start_time, end_time):
    client = InfluxDBClient(url=url, token=token, org=org,  timeout=900_000)

    # write_api = client.write_api(write_options=SYNCHRONOUS)
    query_api = client.query_api()

    data_frame = query_api.query_data_frame('from(bucket: "gs") '
                                        ' |> range(start: '+str(start_time)+', stop:'+str(end_time)+') '
                                        ' |> filter(fn: (r) => r._measurement == "message" and r._field == "type" and (r._value == 11 or r._value == 12 or r._value == 3 or r._value == 2)) '
                                        ' |> group(columns: ["_measurement", "_field"], mode: "by") '
                                        ' |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")')
    client.close()

    # df = data_frame.drop(columns=['result', 'table','_start', '_stop', '_measurement', 'topic', 'receivedFrom']).sort_values(by=["_time"]).reset_index(drop=True)
    data_frame.reset_index(inplace=True)
    df = data_frame[['_time', 'type']].sort_values(by=["_time"]).reset_index(drop=True)
    df["_time"] = pd.to_datetime(df["_time"])

    return df

In [13]:
message = pd.DataFrame()
execs = experiments.drop(columns=['originalStart', 'originalEnd'])
# final=final.loc[final["identifier"] == 1]

for index, row in final.iterrows():
    # print(row["start"], row["end"], row["experiment"])
    execs = exps.loc[(exps["topology"] == row["topology"]) & (exps["d"] == row["d"]) &
                            (exps["dlo"] == row["dlo"]) & (exps["dhi"] == row["dhi"]) &
                            (exps["dscore"] == row["dscore"]) & (exps["dlazy"] == row["dlazy"]) &
                            (exps["dout"] == row["dout"]) & (exps["gossipFactor"] == row["gossipFactor"]) &                    
                            (exps["interval"] == row["interval"])]

    for idx, exec in execs.iterrows():
        # print(exec["startUnix"], exec["endUnix"])
        query_mess = from_influx_message(url, token, org, exec["startUnix"], exec["endUnix"])

        query_mess["identifier"] = row["identifier"]

        query_mess["experiment"] = exec["experiment"]

        query_mess["start"] = exec["start"]
        query_mess["end"] = exec["end"]
            
        query_mess["_time"] = pd.to_datetime(query_mess["_time"])
        message = pd.concat([message,query_mess])

        query_mess.to_csv('./mess_'+str(exec["experiment"])+'.csv')
        
        del query_mess
        # del deliverMessage
        gc.collect()

message.head(10)

,_time,type,identifier,experiment,start,end
0,2023-08-25 17:04:39.427790+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
1,2023-08-25 17:04:39.427797+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
2,2023-08-25 17:04:39.427811+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
3,2023-08-25 17:04:39.427817+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
4,2023-08-25 17:04:39.427821+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
5,2023-08-25 17:04:39.427825+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
6,2023-08-25 17:04:39.427830+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
7,2023-08-25 17:04:39.427834+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
8,2023-08-25 17:04:39.427845+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991
9,2023-08-25 17:04:39.427860+00:00,11.0,1,152,2023-08-25 16:50:23.6899992,2023-08-25 17:20:23.6921991

In [14]:
message.to_csv('./messageTimeSeries.csv')

In [15]:
del message
gc.collect()

0

In [41]:
def from_influx(url, token, org, measurement, start_time, end_time,grouping_key):
    client = InfluxDBClient(url=url, token=token, org=org,  timeout=900_000)

    # write_api = client.write_api(write_options=SYNCHRONOUS)
    query_api = client.query_api()

    data_frame = query_api.query_data_frame('from(bucket: "gs") '
                                        ' |> range(start: '+str(start_time)+', stop:'+str(end_time)+') '
                                        ' |> filter(fn: (r) => r._measurement == "'+measurement+'") '
                                        ' |> group(columns: ["_measurement", "_field"], mode: "by") '
                                        ' |> pivot(rowKey:["_time"], columnKey: ["_field"], valueColumn: "_value")')
    client.close()

    # df = data_frame.drop(columns=['result', 'table','_start', '_stop', '_measurement', 'topic', 'receivedFrom']).sort_values(by=["_time"]).reset_index(drop=True)
    if data_frame.empty == False:
        data_frame.reset_index(inplace=True)
        df = data_frame[['_time', grouping_key]].sort_values(by=["_time"]).reset_index(drop=True)
        df["_time"] = pd.to_datetime(df["_time"])
    else:
        df = data_frame

    return df

In [42]:
gossip = pd.DataFrame()
execs = experiments.drop(columns=['originalStart', 'originalEnd'])

for index, row in final.iterrows():
    # print(row["start"], row["end"], row["experiment"])
    execs = exps.loc[(exps["topology"] == row["topology"]) & (exps["d"] == row["d"]) &
                            (exps["dlo"] == row["dlo"]) & (exps["dhi"] == row["dhi"]) &
                            (exps["dscore"] == row["dscore"]) & (exps["dlazy"] == row["dlazy"]) &
                            (exps["dout"] == row["dout"]) & (exps["gossipFactor"] == row["gossipFactor"]) &                    
                            (exps["interval"] == row["interval"])]

    for idx, exec in execs.iterrows():
        # print(exec["startUnix"], exec["endUnix"])
        query_iwant = from_influx(url, token, org, "iwant", exec["startUnix"], exec["endUnix"],"_measurement")

        if query_iwant.empty == False:
            query_iwant["identifier"] = row["identifier"]
            query_iwant["experiment"] = exec["experiment"]
 
            query_iwant["_time"] = pd.to_datetime(query_iwant["_time"])
            gossip = pd.concat([gossip, query_iwant])

            query_iwant.to_csv('./iwant_'+str(exec["experiment"])+'.csv')

            del query_iwant

        query_ihave = from_influx(url, token, org, "ihave", exec["startUnix"], exec["endUnix"],"_measurement")
        if query_ihave.empty == False:
            query_ihave["identifier"] = row["identifier"]
            query_ihave["experiment"] = exec["experiment"]

            query_ihave["_time"] = pd.to_datetime(query_ihave["_time"])
            gossip = pd.concat([gossip, query_ihave])

            query_ihave.to_csv('./ihave_'+str(exec["experiment"])+'.csv')
        
            del query_ihave

        gc.collect()

gossip.head(10)

                             _time _measurement  identifier  experiment
0 2023-08-25 17:04:39.559375+00:00        iwant           1         152
1 2023-08-25 17:04:39.559955+00:00        iwant           1         152
2 2023-08-25 17:04:39.560356+00:00        iwant           1         152
3 2023-08-25 17:04:39.574611+00:00        iwant           1         152
4 2023-08-25 17:04:39.575129+00:00        iwant           1         152
5 2023-08-25 17:04:39.575320+00:00        iwant           1         152
6 2023-08-25 17:04:39.575510+00:00        iwant           1         152
7 2023-08-25 17:04:39.585263+00:00        iwant           1         152
8 2023-08-25 17:04:39.585524+00:00        iwant           1         152
9 2023-08-25 17:04:39.585600+00:00        iwant           1         152

In [43]:
gossip.to_csv('./gossipTimeSeries.csv')